{"openapi":"3.0.1","info":{"title":"Revolv3 OpenApi Spec","description":"Spec for Revolv3","version":"1.23.0"},"servers":[{"url":"https://api.revolv3.com"}],"paths":{"/api/account-verification/ach/person":{"post":{"tags":["AccountVerification"],"summary":"Validate ACH person account","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/AchPaymentAccountVerificationDto"},"example":{"amount":null,"firstName":"Joe","lastName":"Doe","companyName":null,"address":{"addressId":null,"addressLine1":"26 River Street","addressLine2":"","city":"Cambridge","state":"MA","postalCode":"02125","phoneNumber":"123-456-789","email":null,"country":"US"},"ach":{"routingNumber":"123456789","accountNumber":"123456789","accountType":"Checking","processingMethodType":4}}},"application/json":{"schema":{"$ref":"#/components/schemas/AchPaymentAccountVerificationDto"},"example":{"amount":null,"firstName":"Joe","lastName":"Doe","companyName":null,"address":{"addressId":null,"addressLine1":"26 River Street","addressLine2":"","city":"Cambridge","state":"MA","postalCode":"02125","phoneNumber":"123-456-789","email":null,"country":"US"},"ach":{"routingNumber":"123456789","accountNumber":"123456789","accountType":"Checking","processingMethodType":4}}},"text/json":{"schema":{"$ref":"#/components/schemas/AchPaymentAccountVerificationDto"},"example":{"amount":null,"firstName":"Joe","lastName":"Doe","companyName":null,"address":{"addressId":null,"addressLine1":"26 River Street","addressLine2":"","city":"Cambridge","state":"MA","postalCode":"02125","phoneNumber":"123-456-789","email":null,"country":"US"},"ach":{"routingNumber":"123456789","accountNumber":"123456789","accountType":"Checking","processingMethodType":4}}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AchPaymentAccountVerificationDto"},"example":{"amount":null,"firstName":"Joe","lastName":"Doe","companyName":null,"address":{"addressId":null,"addressLine1":"26 River Street","addressLine2":"","city":"Cambridge","state":"MA","postalCode":"02125","phoneNumber":"123-456-789","email":null,"country":"US"},"ach":{"routingNumber":"123456789","accountNumber":"123456789","accountType":"Checking","processingMethodType":4}}}}},"responses":{"200":{"description":"The ACH account was successfully verified","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VerifyAchAccountResponse"},"example":{"isVerified":true,"message":"Approved","responseCode":"000"}},"application/json":{"schema":{"$ref":"#/components/schemas/VerifyAchAccountResponse"},"example":{"isVerified":true,"message":"Approved","responseCode":"000"}},"text/json":{"schema":{"$ref":"#/components/schemas/VerifyAchAccountResponse"},"example":{"isVerified":true,"message":"Approved","responseCode":"000"}}}},"400":{"description":"If an invalid field or value is submitted, or if the account number is not approved","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"}}}}},"security":[{"Bearer":[]}]}},"/api/account-verification/ach/corporate":{"post":{"tags":["AccountVerification"],"summary":"Validate ACH corporate account","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/AchPaymentAccountVerificationDto"},"example":{"amount":null,"firstName":null,"lastName":null,"companyName":"Company Inc.","address":{"addressId":null,"addressLine1":"26 River Street","addressLine2":"","city":"Cambridge","state":"MA","postalCode":"02125","phoneNumber":"123-456-789","email":null,"country":"US"},"ach":{"routingNumber":"123456789","accountNumber":"123456789","accountType":"Checking","processingMethodType":4}}},"application/json":{"schema":{"$ref":"#/components/schemas/AchPaymentAccountVerificationDto"},"example":{"amount":null,"firstName":null,"lastName":null,"companyName":"Company Inc.","address":{"addressId":null,"addressLine1":"26 River Street","addressLine2":"","city":"Cambridge","state":"MA","postalCode":"02125","phoneNumber":"123-456-789","email":null,"country":"US"},"ach":{"routingNumber":"123456789","accountNumber":"123456789","accountType":"Checking","processingMethodType":4}}},"text/json":{"schema":{"$ref":"#/components/schemas/AchPaymentAccountVerificationDto"},"example":{"amount":null,"firstName":null,"lastName":null,"companyName":"Company Inc.","address":{"addressId":null,"addressLine1":"26 River Street","addressLine2":"","city":"Cambridge","state":"MA","postalCode":"02125","phoneNumber":"123-456-789","email":null,"country":"US"},"ach":{"routingNumber":"123456789","accountNumber":"123456789","accountType":"Checking","processingMethodType":4}}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AchPaymentAccountVerificationDto"},"example":{"amount":null,"firstName":null,"lastName":null,"companyName":"Company Inc.","address":{"addressId":null,"addressLine1":"26 River Street","addressLine2":"","city":"Cambridge","state":"MA","postalCode":"02125","phoneNumber":"123-456-789","email":null,"country":"US"},"ach":{"routingNumber":"123456789","accountNumber":"123456789","accountType":"Checking","processingMethodType":4}}}}},"responses":{"200":{"description":"The ACH account was successfully verified","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VerifyAchAccountResponse"},"example":{"isVerified":true,"message":"Approved","responseCode":"000"}},"application/json":{"schema":{"$ref":"#/components/schemas/VerifyAchAccountResponse"},"example":{"isVerified":true,"message":"Approved","responseCode":"000"}},"text/json":{"schema":{"$ref":"#/components/schemas/VerifyAchAccountResponse"},"example":{"isVerified":true,"message":"Approved","responseCode":"000"}}}},"400":{"description":"If an invalid field or value is submitted, or if the account number is not approved","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"}}}}},"security":[{"Bearer":[]}]}},"/api/Authentication/token":{"post":{"tags":["Authentication"],"summary":"Get Merchant Access Token","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/GetAzureAdTokenRequestDTO"},"example":{"clientId":"clientIdentifier","clientSecret":"clientSecret"}},"application/json":{"schema":{"$ref":"#/components/schemas/GetAzureAdTokenRequestDTO"},"example":{"clientId":"clientIdentifier","clientSecret":"clientSecret"}},"text/json":{"schema":{"$ref":"#/components/schemas/GetAzureAdTokenRequestDTO"},"example":{"clientId":"clientIdentifier","clientSecret":"clientSecret"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/GetAzureAdTokenRequestDTO"},"example":{"clientId":"clientIdentifier","clientSecret":"clientSecret"}}}},"responses":{"200":{"description":"The token successfully received","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/TokenResponse"},"example":{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"thisisagianttokenhash1NiIsImtpZCI6IlNzWnNCTmhaY0YzUTlTNHRycFFCVEJ5TlthisisagianttokenhashTQ0MTMiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vZjAyMzQ1MDEtMjdkZC00NTY1LWI1NDUtNDBlZDFmZjNjZDU1L3YyLjAiLCJpYXQiOjE1OTEyODthisisagianttokenhashhwIjoxNTkxMjkzODYzLCJhaW8iOiI0MmRnWURBTDhGTU5iNUgwOGF4thisisagianttokenhashYmExN2VkLTExMGMtNDVmthisisagianttokenhashmF6cGFjciI6IjEiLCJ0aWQiOiJmMDIzNDUwMS0yN2RkLTQ1NjUtYjU0NS00MGVkMWZmM2NkNTUiLCJ1dGkiOiJWOEhIbXVfZ1RVZUZQQ0pKNF91b0FBIiwidmVyIjoiMi4wIn0.rrQVOMQ2M3xhBeA96fOeidrghJep_DEC0-y-WTlsZu37rO18FgTBAp-tNeMasrLZlEcP6O2Ij8OqxY8yqxmIaPoaXpH9f8DN6nkthisisagianttokenhashlCDGp6zUdEb0XDA2-JXbSbs918g9DPBjuTDio1-Cithisisagianttokenhash8C4-H1XZfRN4Z7IMthisisagianttokenhashxp8lqK66NrXI2RtihtBs6gI3GKpfhok-H6_NvUaQQthisisagianttokenhashOHlKrKQ6D2fUIcXg"}},"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"},"example":{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"thisisagianttokenhash1NiIsImtpZCI6IlNzWnNCTmhaY0YzUTlTNHRycFFCVEJ5TlthisisagianttokenhashTQ0MTMiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vZjAyMzQ1MDEtMjdkZC00NTY1LWI1NDUtNDBlZDFmZjNjZDU1L3YyLjAiLCJpYXQiOjE1OTEyODthisisagianttokenhashhwIjoxNTkxMjkzODYzLCJhaW8iOiI0MmRnWURBTDhGTU5iNUgwOGF4thisisagianttokenhashYmExN2VkLTExMGMtNDVmthisisagianttokenhashmF6cGFjciI6IjEiLCJ0aWQiOiJmMDIzNDUwMS0yN2RkLTQ1NjUtYjU0NS00MGVkMWZmM2NkNTUiLCJ1dGkiOiJWOEhIbXVfZ1RVZUZQQ0pKNF91b0FBIiwidmVyIjoiMi4wIn0.rrQVOMQ2M3xhBeA96fOeidrghJep_DEC0-y-WTlsZu37rO18FgTBAp-tNeMasrLZlEcP6O2Ij8OqxY8yqxmIaPoaXpH9f8DN6nkthisisagianttokenhashlCDGp6zUdEb0XDA2-JXbSbs918g9DPBjuTDio1-Cithisisagianttokenhash8C4-H1XZfRN4Z7IMthisisagianttokenhashxp8lqK66NrXI2RtihtBs6gI3GKpfhok-H6_NvUaQQthisisagianttokenhashOHlKrKQ6D2fUIcXg"}},"text/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"},"example":{"token_type":"Bearer","expires_in":3599,"ext_expires_in":3599,"access_token":"thisisagianttokenhash1NiIsImtpZCI6IlNzWnNCTmhaY0YzUTlTNHRycFFCVEJ5TlthisisagianttokenhashTQ0MTMiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vZjAyMzQ1MDEtMjdkZC00NTY1LWI1NDUtNDBlZDFmZjNjZDU1L3YyLjAiLCJpYXQiOjE1OTEyODthisisagianttokenhashhwIjoxNTkxMjkzODYzLCJhaW8iOiI0MmRnWURBTDhGTU5iNUgwOGF4thisisagianttokenhashYmExN2VkLTExMGMtNDVmthisisagianttokenhashmF6cGFjciI6IjEiLCJ0aWQiOiJmMDIzNDUwMS0yN2RkLTQ1NjUtYjU0NS00MGVkMWZmM2NkNTUiLCJ1dGkiOiJWOEhIbXVfZ1RVZUZQQ0pKNF91b0FBIiwidmVyIjoiMi4wIn0.rrQVOMQ2M3xhBeA96fOeidrghJep_DEC0-y-WTlsZu37rO18FgTBAp-tNeMasrLZlEcP6O2Ij8OqxY8yqxmIaPoaXpH9f8DN6nkthisisagianttokenhashlCDGp6zUdEb0XDA2-JXbSbs918g9DPBjuTDio1-Cithisisagianttokenhash8C4-H1XZfRN4Z7IMthisisagianttokenhashxp8lqK66NrXI2RtihtBs6gI3GKpfhok-H6_NvUaQQthisisagianttokenhashOHlKrKQ6D2fUIcXg"}}}},"400":{"description":"If an invalid field or value is submitted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"If the AzureAD token cannot be retrieved","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to retrieve AzureAD token"}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to retrieve AzureAD token"}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to retrieve AzureAD token"}}}}}}},"/api/Checkout":{"post":{"tags":["Checkout"],"summary":"Create Checkout Link","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/CreateCheckoutLinkRequestDto"},"example":{"returnUrl":"https%3A%2F%2Fsite.com","oneTimePayment":{"checkoutLineItems":[{"name":"Item 1","description":"Item Description","value":9.99,"valueType":"Standard"},{"name":"Item 2","description":"Item Description","value":21.99,"valueType":"Standard"}]}}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateCheckoutLinkRequestDto"},"example":{"returnUrl":"https%3A%2F%2Fsite.com","oneTimePayment":{"checkoutLineItems":[{"name":"Item 1","description":"Item Description","value":9.99,"valueType":"Standard"},{"name":"Item 2","description":"Item Description","value":21.99,"valueType":"Standard"}]}}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateCheckoutLinkRequestDto"},"example":{"returnUrl":"https%3A%2F%2Fsite.com","oneTimePayment":{"checkoutLineItems":[{"name":"Item 1","description":"Item Description","value":9.99,"valueType":"Standard"},{"name":"Item 2","description":"Item Description","value":21.99,"valueType":"Standard"}]}}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateCheckoutLinkRequestDto"},"example":{"returnUrl":"https%3A%2F%2Fsite.com","oneTimePayment":{"checkoutLineItems":[{"name":"Item 1","description":"Item Description","value":9.99,"valueType":"Standard"},{"name":"Item 2","description":"Item Description","value":21.99,"valueType":"Standard"}]}}}}},"responses":{"200":{"description":"The checkout link was successfully created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CreateCheckoutLinkResponseDto"},"example":{"checkoutId":"12345678-ABCD-1234-EFGH-987654321000","checkoutLink":"http://localhost:4200/checkout/12345678-ABCD-1234-EFGH-987654321000"}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateCheckoutLinkResponseDto"},"example":{"checkoutId":"12345678-ABCD-1234-EFGH-987654321000","checkoutLink":"http://localhost:4200/checkout/12345678-ABCD-1234-EFGH-987654321000"}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateCheckoutLinkResponseDto"},"example":{"checkoutId":"12345678-ABCD-1234-EFGH-987654321000","checkoutLink":"http://localhost:4200/checkout/12345678-ABCD-1234-EFGH-987654321000"}}}},"400":{"description":"If an invalid field or value is submitted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}}},"security":[{"Bearer":[]}]}},"/api/Checkout/{checkoutUid}":{"get":{"tags":["Checkout"],"summary":"Get Complete Checkout Information","parameters":[{"name":"checkoutUid","in":"path","description":"The checkout Uid","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/GetCompleteCheckoutInformationResponseDto"},"example":{"checkoutId":"12345678-ABCD-1234-EFGH-987654321000","checkoutStatus":"Pending","returnUrl":"https://mysite.com/order/12345678","completionDate":null,"customer":{"customerId":328,"firstName":"Joe","lastName":"Doe","email":"aa@aa.com"},"invoice":{"invoiceId":8786,"invoiceStatus":"Paid","total":10,"billingDate":"2025-08-21T09:51:54.8919761+02:00","paymentMethod":{"paymentMethodId":0,"billingAddress":{"addressId":4232,"addressLine1":"20 Bitterwater Street","addressLine2":null,"city":"King City","state":"CA","postalCode":"11111","phoneNumber":"43823527092","email":"aa@aa.com","country":"US"},"billingFirstName":"Joe","billingLastName":"Doe","type":null,"achDetails":null,"creditCardDetails":{"last4Digit":"1111","expirationDate":"11/11"}},"invoiceAttempts":null},"checkoutLineItems":[{"name":"Checkout Line Item Name","description":"Checkout Line Item Description","value":10,"valueType":"Standard"}]}},"application/json":{"schema":{"$ref":"#/components/schemas/GetCompleteCheckoutInformationResponseDto"},"example":{"checkoutId":"12345678-ABCD-1234-EFGH-987654321000","checkoutStatus":"Pending","returnUrl":"https://mysite.com/order/12345678","completionDate":null,"customer":{"customerId":328,"firstName":"Joe","lastName":"Doe","email":"aa@aa.com"},"invoice":{"invoiceId":8786,"invoiceStatus":"Paid","total":10,"billingDate":"2025-08-21T09:51:54.8919761+02:00","paymentMethod":{"paymentMethodId":0,"billingAddress":{"addressId":4232,"addressLine1":"20 Bitterwater Street","addressLine2":null,"city":"King City","state":"CA","postalCode":"11111","phoneNumber":"43823527092","email":"aa@aa.com","country":"US"},"billingFirstName":"Joe","billingLastName":"Doe","type":null,"achDetails":null,"creditCardDetails":{"last4Digit":"1111","expirationDate":"11/11"}},"invoiceAttempts":null},"checkoutLineItems":[{"name":"Checkout Line Item Name","description":"Checkout Line Item Description","value":10,"valueType":"Standard"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/GetCompleteCheckoutInformationResponseDto"},"example":{"checkoutId":"12345678-ABCD-1234-EFGH-987654321000","checkoutStatus":"Pending","returnUrl":"https://mysite.com/order/12345678","completionDate":null,"customer":{"customerId":328,"firstName":"Joe","lastName":"Doe","email":"aa@aa.com"},"invoice":{"invoiceId":8786,"invoiceStatus":"Paid","total":10,"billingDate":"2025-08-21T09:51:54.8919761+02:00","paymentMethod":{"paymentMethodId":0,"billingAddress":{"addressId":4232,"addressLine1":"20 Bitterwater Street","addressLine2":null,"city":"King City","state":"CA","postalCode":"11111","phoneNumber":"43823527092","email":"aa@aa.com","country":"US"},"billingFirstName":"Joe","billingLastName":"Doe","type":null,"achDetails":null,"creditCardDetails":{"last4Digit":"1111","expirationDate":"11/11"}},"invoiceAttempts":null},"checkoutLineItems":[{"name":"Checkout Line Item Name","description":"Checkout Line Item Description","value":10,"valueType":"Standard"}]}}}},"400":{"description":"If an invalid field or value is submitted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"If the checkout ID cannot be associated with a checkout","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]}},"/api/Customers":{"post":{"tags":["Customers"],"summary":"Create Customer","requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/CreateCustomerRequestDTO"},"example":{"merchantCustomerRefId":null,"firstName":"John","lastName":"Doe","email":null,"billingAddresses":[{"addressId":null,"addressLine1":"100 Main Street","addressLine2":"","city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":null,"addressLine1":"101 First Street","addressLine2":"","city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"subscriptions":[{"paymentMethods":[{"paymentMethodTypes":[1],"priority":0,"taxAmount":null,"originalNetworkTransactionId":null,"billingAddress":{"addressId":null,"addressLine1":"100 Main Street","addressLine2":"","city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"creditCard":{"paymentAccountNumber":"4111111111111111","expirationDate":"1025","securityCode":null,"networkToken":null,"processingMethodType":5},"ach":null,"googlePay":null,"applePay":null,"merchantPaymentMethodRefId":null,"billingFirstName":"John","billingLastName":"Doe","billingFullName":null}],"existingPaymentMethod":null,"merchantSubscriptionRefId":"1234-5678-9101","billingFrequency":{"intervalType":1,"intervalCount":1},"subscriptionStatusType":"current","subscriptionCancelType":"EndOfCycle","startDate":"2025-08-21T00:00:00Z","trialDuration":0,"trialDurationType":1,"taxAddress":{"addressId":null,"addressLine1":"101 Update Street","addressLine2":"","city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"includeRawProcessorResponse":false,"customer":null,"subscriptionBillingPlans":[{"name":"Billing Plan 1","value":10.99,"cycleCount":-1,"valueType":"Standard","startCycleDelay":0},{"name":"Billing Plan 2","value":14.99,"cycleCount":12,"valueType":"Standard","startCycleDelay":1}],"recycleImmediatePayment":false,"currency":1}]}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomerRequestDTO"},"example":{"merchantCustomerRefId":null,"firstName":"John","lastName":"Doe","email":null,"billingAddresses":[{"addressId":null,"addressLine1":"100 Main Street","addressLine2":"","city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":null,"addressLine1":"101 First Street","addressLine2":"","city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"subscriptions":[{"paymentMethods":[{"paymentMethodTypes":[1],"priority":0,"taxAmount":null,"originalNetworkTransactionId":null,"billingAddress":{"addressId":null,"addressLine1":"100 Main Street","addressLine2":"","city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"creditCard":{"paymentAccountNumber":"4111111111111111","expirationDate":"1025","securityCode":null,"networkToken":null,"processingMethodType":5},"ach":null,"googlePay":null,"applePay":null,"merchantPaymentMethodRefId":null,"billingFirstName":"John","billingLastName":"Doe","billingFullName":null}],"existingPaymentMethod":null,"merchantSubscriptionRefId":"1234-5678-9101","billingFrequency":{"intervalType":1,"intervalCount":1},"subscriptionStatusType":"current","subscriptionCancelType":"EndOfCycle","startDate":"2025-08-21T00:00:00Z","trialDuration":0,"trialDurationType":1,"taxAddress":{"addressId":null,"addressLine1":"101 Update Street","addressLine2":"","city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"includeRawProcessorResponse":false,"customer":null,"subscriptionBillingPlans":[{"name":"Billing Plan 1","value":10.99,"cycleCount":-1,"valueType":"Standard","startCycleDelay":0},{"name":"Billing Plan 2","value":14.99,"cycleCount":12,"valueType":"Standard","startCycleDelay":1}],"recycleImmediatePayment":false,"currency":1}]}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateCustomerRequestDTO"},"example":{"merchantCustomerRefId":null,"firstName":"John","lastName":"Doe","email":null,"billingAddresses":[{"addressId":null,"addressLine1":"100 Main Street","addressLine2":"","city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":null,"addressLine1":"101 First Street","addressLine2":"","city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"subscriptions":[{"paymentMethods":[{"paymentMethodTypes":[1],"priority":0,"taxAmount":null,"originalNetworkTransactionId":null,"billingAddress":{"addressId":null,"addressLine1":"100 Main Street","addressLine2":"","city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"creditCard":{"paymentAccountNumber":"4111111111111111","expirationDate":"1025","securityCode":null,"networkToken":null,"processingMethodType":5},"ach":null,"googlePay":null,"applePay":null,"merchantPaymentMethodRefId":null,"billingFirstName":"John","billingLastName":"Doe","billingFullName":null}],"existingPaymentMethod":null,"merchantSubscriptionRefId":"1234-5678-9101","billingFrequency":{"intervalType":1,"intervalCount":1},"subscriptionStatusType":"current","subscriptionCancelType":"EndOfCycle","startDate":"2025-08-21T00:00:00Z","trialDuration":0,"trialDurationType":1,"taxAddress":{"addressId":null,"addressLine1":"101 Update Street","addressLine2":"","city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"includeRawProcessorResponse":false,"customer":null,"subscriptionBillingPlans":[{"name":"Billing Plan 1","value":10.99,"cycleCount":-1,"valueType":"Standard","startCycleDelay":0},{"name":"Billing Plan 2","value":14.99,"cycleCount":12,"valueType":"Standard","startCycleDelay":1}],"recycleImmediatePayment":false,"currency":1}]}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateCustomerRequestDTO"},"example":{"merchantCustomerRefId":null,"firstName":"John","lastName":"Doe","email":null,"billingAddresses":[{"addressId":null,"addressLine1":"100 Main Street","addressLine2":"","city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":null,"addressLine1":"101 First Street","addressLine2":"","city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"subscriptions":[{"paymentMethods":[{"paymentMethodTypes":[1],"priority":0,"taxAmount":null,"originalNetworkTransactionId":null,"billingAddress":{"addressId":null,"addressLine1":"100 Main Street","addressLine2":"","city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"creditCard":{"paymentAccountNumber":"4111111111111111","expirationDate":"1025","securityCode":null,"networkToken":null,"processingMethodType":5},"ach":null,"googlePay":null,"applePay":null,"merchantPaymentMethodRefId":null,"billingFirstName":"John","billingLastName":"Doe","billingFullName":null}],"existingPaymentMethod":null,"merchantSubscriptionRefId":"1234-5678-9101","billingFrequency":{"intervalType":1,"intervalCount":1},"subscriptionStatusType":"current","subscriptionCancelType":"EndOfCycle","startDate":"2025-08-21T00:00:00Z","trialDuration":0,"trialDurationType":1,"taxAddress":{"addressId":null,"addressLine1":"101 Update Street","addressLine2":"","city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"includeRawProcessorResponse":false,"customer":null,"subscriptionBillingPlans":[{"name":"Billing Plan 1","value":10.99,"cycleCount":-1,"valueType":"Standard","startCycleDelay":0},{"name":"Billing Plan 2","value":14.99,"cycleCount":12,"valueType":"Standard","startCycleDelay":1}],"recycleImmediatePayment":false,"currency":1}]}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":"","city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[{"subscriptionId":1,"customerId":1,"merchantSubscriptionRefId":"1234-5678-9101","networkTransactionId":null,"billingIntervalType":"Days","billingIntervalCount":1,"subscriptionStatusType":"current","subscriptionCancelType":null,"initialBillDate":"21-Aug-25","nextBillDate":"22-Aug-25","taxAddress":null,"paymentMethodIds":null,"cancelledAt":null,"billingPlans":[{"subscriptionBillingPlanId":1,"subscriptionId":0,"name":"Billing Plan 1","value":10.99,"startDate":"21-Aug-25","cyclesRemaining":-1,"cycleCount":0,"valueType":"Standard"},{"subscriptionBillingPlanId":2,"subscriptionId":0,"name":"Billing Plan 2","value":14.99,"startDate":"22-Aug-25","cyclesRemaining":12,"cycleCount":0,"valueType":"Standard"}],"message":null,"processorRawResponse":null,"currency":null}]}},"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":"","city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[{"subscriptionId":1,"customerId":1,"merchantSubscriptionRefId":"1234-5678-9101","networkTransactionId":null,"billingIntervalType":"Days","billingIntervalCount":1,"subscriptionStatusType":"current","subscriptionCancelType":null,"initialBillDate":"21-Aug-25","nextBillDate":"22-Aug-25","taxAddress":null,"paymentMethodIds":null,"cancelledAt":null,"billingPlans":[{"subscriptionBillingPlanId":1,"subscriptionId":0,"name":"Billing Plan 1","value":10.99,"startDate":"21-Aug-25","cyclesRemaining":-1,"cycleCount":0,"valueType":"Standard"},{"subscriptionBillingPlanId":2,"subscriptionId":0,"name":"Billing Plan 2","value":14.99,"startDate":"22-Aug-25","cyclesRemaining":12,"cycleCount":0,"valueType":"Standard"}],"message":null,"processorRawResponse":null,"currency":null}]}},"text/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":"","city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[{"subscriptionId":1,"customerId":1,"merchantSubscriptionRefId":"1234-5678-9101","networkTransactionId":null,"billingIntervalType":"Days","billingIntervalCount":1,"subscriptionStatusType":"current","subscriptionCancelType":null,"initialBillDate":"21-Aug-25","nextBillDate":"22-Aug-25","taxAddress":null,"paymentMethodIds":null,"cancelledAt":null,"billingPlans":[{"subscriptionBillingPlanId":1,"subscriptionId":0,"name":"Billing Plan 1","value":10.99,"startDate":"21-Aug-25","cyclesRemaining":-1,"cycleCount":0,"valueType":"Standard"},{"subscriptionBillingPlanId":2,"subscriptionId":0,"name":"Billing Plan 2","value":14.99,"startDate":"22-Aug-25","cyclesRemaining":12,"cycleCount":0,"valueType":"Standard"}],"message":null,"processorRawResponse":null,"currency":null}]}}}},"207":{"description":"Multi-Status","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SimpleObjectResult"}},"example":[{"response":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":"","city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":"","city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[]},"statusCode":201,"name":"Customer"},{"response":{"subscriptionId":1,"customerId":1,"merchantSubscriptionRefId":"1234-5678-9101","networkTransactionId":null,"billingIntervalType":"Days","billingIntervalCount":1,"subscriptionStatusType":"current","subscriptionCancelType":null,"initialBillDate":"22-Aug-25","nextBillDate":null,"taxAddress":null,"paymentMethodIds":null,"cancelledAt":null,"billingPlans":[{"subscriptionBillingPlanId":1,"subscriptionId":0,"name":"Billing Plan 1","value":10.99,"startDate":"21-Aug-25","cyclesRemaining":-1,"cycleCount":0,"valueType":"Standard"},{"subscriptionBillingPlanId":2,"subscriptionId":0,"name":"Billing Plan 2","value":14.99,"startDate":"21-Aug-25","cyclesRemaining":12,"cycleCount":0,"valueType":"Standard"}],"message":null,"processorRawResponse":null,"currency":null},"statusCode":201,"name":"Subscription"},{"response":{"merchantSubscriptionRefId":"1234-5678-9101","errorMessage":"Subscription creation fail"},"statusCode":400,"name":"CreateSubscriptionFailure"}]},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SimpleObjectResult"}},"example":[{"response":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":"","city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":"","city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[]},"statusCode":201,"name":"Customer"},{"response":{"subscriptionId":1,"customerId":1,"merchantSubscriptionRefId":"1234-5678-9101","networkTransactionId":null,"billingIntervalType":"Days","billingIntervalCount":1,"subscriptionStatusType":"current","subscriptionCancelType":null,"initialBillDate":"22-Aug-25","nextBillDate":null,"taxAddress":null,"paymentMethodIds":null,"cancelledAt":null,"billingPlans":[{"subscriptionBillingPlanId":1,"subscriptionId":0,"name":"Billing Plan 1","value":10.99,"startDate":"21-Aug-25","cyclesRemaining":-1,"cycleCount":0,"valueType":"Standard"},{"subscriptionBillingPlanId":2,"subscriptionId":0,"name":"Billing Plan 2","value":14.99,"startDate":"21-Aug-25","cyclesRemaining":12,"cycleCount":0,"valueType":"Standard"}],"message":null,"processorRawResponse":null,"currency":null},"statusCode":201,"name":"Subscription"},{"response":{"merchantSubscriptionRefId":"1234-5678-9101","errorMessage":"Subscription creation fail"},"statusCode":400,"name":"CreateSubscriptionFailure"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SimpleObjectResult"}},"example":[{"response":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":"","city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":"","city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[]},"statusCode":201,"name":"Customer"},{"response":{"subscriptionId":1,"customerId":1,"merchantSubscriptionRefId":"1234-5678-9101","networkTransactionId":null,"billingIntervalType":"Days","billingIntervalCount":1,"subscriptionStatusType":"current","subscriptionCancelType":null,"initialBillDate":"22-Aug-25","nextBillDate":null,"taxAddress":null,"paymentMethodIds":null,"cancelledAt":null,"billingPlans":[{"subscriptionBillingPlanId":1,"subscriptionId":0,"name":"Billing Plan 1","value":10.99,"startDate":"21-Aug-25","cyclesRemaining":-1,"cycleCount":0,"valueType":"Standard"},{"subscriptionBillingPlanId":2,"subscriptionId":0,"name":"Billing Plan 2","value":14.99,"startDate":"21-Aug-25","cyclesRemaining":12,"cycleCount":0,"valueType":"Standard"}],"message":null,"processorRawResponse":null,"currency":null},"statusCode":201,"name":"Subscription"},{"response":{"merchantSubscriptionRefId":"1234-5678-9101","errorMessage":"Subscription creation fail"},"statusCode":400,"name":"CreateSubscriptionFailure"}]}}},"400":{"description":"If an invalid field or value is submitted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]},"get":{"tags":["Customers"],"summary":"Get Customers","parameters":[{"name":"merchantCustomerRefId","in":"query","schema":{"type":"string"}},{"name":"firstName","in":"query","schema":{"type":"string"}},{"name":"lastName","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetCustomersQueryResultDTO"}},"example":[{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe"},{"customerId":2,"merchantCustomerRefId":"5678-1234-9101","firstName":"Jane","lastName":"Doe"},{"customerId":3,"merchantCustomerRefId":"9101-5678-1234","firstName":"Jeremy","lastName":"Doe"}]},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetCustomersQueryResultDTO"}},"example":[{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe"},{"customerId":2,"merchantCustomerRefId":"5678-1234-9101","firstName":"Jane","lastName":"Doe"},{"customerId":3,"merchantCustomerRefId":"9101-5678-1234","firstName":"Jeremy","lastName":"Doe"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetCustomersQueryResultDTO"}},"example":[{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe"},{"customerId":2,"merchantCustomerRefId":"5678-1234-9101","firstName":"Jane","lastName":"Doe"},{"customerId":3,"merchantCustomerRefId":"9101-5678-1234","firstName":"Jeremy","lastName":"Doe"}]}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]}},"/api/Customers/{customerId}":{"get":{"tags":["Customers"],"summary":"Get Customer","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":null,"city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[]}},"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":null,"city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[]}},"text/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":null,"city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[]}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"If the customer ID cannot be associated with an active customer","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]},"delete":{"tags":["Customers"],"summary":"Delete Customer","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"If the customer ID cannot be associated with an active customer","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["Customers"],"summary":"Update Customer","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/UpdateCustomerRequestDTO"},"example":{"merchantCustomerRefId":"1234-5678-9101","firstName":"Jonathan","lastName":null}},"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCustomerRequestDTO"},"example":{"merchantCustomerRefId":"1234-5678-9101","firstName":"Jonathan","lastName":null}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateCustomerRequestDTO"},"example":{"merchantCustomerRefId":"1234-5678-9101","firstName":"Jonathan","lastName":null}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateCustomerRequestDTO"},"example":{"merchantCustomerRefId":"1234-5678-9101","firstName":"Jonathan","lastName":null}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"Jonathan","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":null,"city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[]}},"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"Jonathan","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":null,"city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[]}},"text/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"Jonathan","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[{"addressId":2,"addressLine1":"101 First Street","addressLine2":null,"city":"Costa Mesa","state":"CA","postalCode":"90001","phoneNumber":null,"email":null,"country":"US"}],"taxAddresses":[],"subscriptions":[]}}}},"400":{"description":"If an invalid field or value is submitted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"If the customer ID cannot be associated with an active customer","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]}},"/api/Customers/{customerId}/subscriptions":{"get":{"tags":["Customers"],"summary":"Get Subscriptions by Customer","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionDTO"}},"example":[{"subscriptionId":1,"customerId":3,"merchantSubscriptionRefId":null,"networkTransactionId":null,"billingIntervalType":"Days","billingIntervalCount":1,"subscriptionStatusType":"current","subscriptionCancelType":null,"initialBillDate":"21-Aug-25","nextBillDate":"22-Aug-25","taxAddress":{"addressId":0,"addressLine1":"101 Update Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"paymentMethodIds":[1],"cancelledAt":null,"billingPlans":[{"subscriptionBillingPlanId":1,"subscriptionId":0,"name":"Billing Plan 1","value":10.99,"startDate":"21-Aug-25","cyclesRemaining":-1,"cycleCount":0,"valueType":"Standard"},{"subscriptionBillingPlanId":2,"subscriptionId":0,"name":"Billing Plan 2","value":14.99,"startDate":"21-Aug-25","cyclesRemaining":12,"cycleCount":0,"valueType":"Standard"}],"message":null,"processorRawResponse":null,"currency":null},{"subscriptionId":2,"customerId":3,"merchantSubscriptionRefId":null,"networkTransactionId":null,"billingIntervalType":"Months","billingIntervalCount":1,"subscriptionStatusType":"recycled","subscriptionCancelType":null,"initialBillDate":"21-Aug-25","nextBillDate":"22-Aug-25","taxAddress":null,"paymentMethodIds":null,"cancelledAt":null,"billingPlans":null,"message":null,"processorRawResponse":null,"currency":null}]},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionDTO"}},"example":[{"subscriptionId":1,"customerId":3,"merchantSubscriptionRefId":null,"networkTransactionId":null,"billingIntervalType":"Days","billingIntervalCount":1,"subscriptionStatusType":"current","subscriptionCancelType":null,"initialBillDate":"21-Aug-25","nextBillDate":"22-Aug-25","taxAddress":{"addressId":0,"addressLine1":"101 Update Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"paymentMethodIds":[1],"cancelledAt":null,"billingPlans":[{"subscriptionBillingPlanId":1,"subscriptionId":0,"name":"Billing Plan 1","value":10.99,"startDate":"21-Aug-25","cyclesRemaining":-1,"cycleCount":0,"valueType":"Standard"},{"subscriptionBillingPlanId":2,"subscriptionId":0,"name":"Billing Plan 2","value":14.99,"startDate":"21-Aug-25","cyclesRemaining":12,"cycleCount":0,"valueType":"Standard"}],"message":null,"processorRawResponse":null,"currency":null},{"subscriptionId":2,"customerId":3,"merchantSubscriptionRefId":null,"networkTransactionId":null,"billingIntervalType":"Months","billingIntervalCount":1,"subscriptionStatusType":"recycled","subscriptionCancelType":null,"initialBillDate":"21-Aug-25","nextBillDate":"22-Aug-25","taxAddress":null,"paymentMethodIds":null,"cancelledAt":null,"billingPlans":null,"message":null,"processorRawResponse":null,"currency":null}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionDTO"}},"example":[{"subscriptionId":1,"customerId":3,"merchantSubscriptionRefId":null,"networkTransactionId":null,"billingIntervalType":"Days","billingIntervalCount":1,"subscriptionStatusType":"current","subscriptionCancelType":null,"initialBillDate":"21-Aug-25","nextBillDate":"22-Aug-25","taxAddress":{"addressId":0,"addressLine1":"101 Update Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"paymentMethodIds":[1],"cancelledAt":null,"billingPlans":[{"subscriptionBillingPlanId":1,"subscriptionId":0,"name":"Billing Plan 1","value":10.99,"startDate":"21-Aug-25","cyclesRemaining":-1,"cycleCount":0,"valueType":"Standard"},{"subscriptionBillingPlanId":2,"subscriptionId":0,"name":"Billing Plan 2","value":14.99,"startDate":"21-Aug-25","cyclesRemaining":12,"cycleCount":0,"valueType":"Standard"}],"message":null,"processorRawResponse":null,"currency":null},{"subscriptionId":2,"customerId":3,"merchantSubscriptionRefId":null,"networkTransactionId":null,"billingIntervalType":"Months","billingIntervalCount":1,"subscriptionStatusType":"recycled","subscriptionCancelType":null,"initialBillDate":"21-Aug-25","nextBillDate":"22-Aug-25","taxAddress":null,"paymentMethodIds":null,"cancelledAt":null,"billingPlans":null,"message":null,"processorRawResponse":null,"currency":null}]}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"If the customer ID cannot be associated with an active customer","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]}},"/api/Customers/{customerId}/address/{addressId}":{"delete":{"tags":["Customers"],"summary":"Delete Customer Address","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"addressId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionDTO"}},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[],"shippingAddresses":[],"taxAddresses":[],"subscriptions":[]}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionDTO"}},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[],"shippingAddresses":[],"taxAddresses":[],"subscriptions":[]}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubscriptionDTO"}},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[],"shippingAddresses":[],"taxAddresses":[],"subscriptions":[]}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"If the customer ID or address ID cannot be associated with a corresponding active entity","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["Customers"],"summary":"Update Address","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"addressId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/AddressRequestDTO"},"example":{"addressLine1":"101 Update Street","addressLine2":null,"city":"Irvine","state":null,"postalCode":"92602","phoneNumber":null,"email":null,"country":null}},"application/json":{"schema":{"$ref":"#/components/schemas/AddressRequestDTO"},"example":{"addressLine1":"101 Update Street","addressLine2":null,"city":"Irvine","state":null,"postalCode":"92602","phoneNumber":null,"email":null,"country":null}},"text/json":{"schema":{"$ref":"#/components/schemas/AddressRequestDTO"},"example":{"addressLine1":"101 Update Street","addressLine2":null,"city":"Irvine","state":null,"postalCode":"92602","phoneNumber":null,"email":null,"country":null}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AddressRequestDTO"},"example":{"addressLine1":"101 Update Street","addressLine2":null,"city":"Irvine","state":null,"postalCode":"92602","phoneNumber":null,"email":null,"country":null}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"101 Update Street","addressLine2":"","city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[],"taxAddresses":[],"subscriptions":[]}},"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"101 Update Street","addressLine2":"","city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[],"taxAddresses":[],"subscriptions":[]}},"text/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":1,"addressLine1":"101 Update Street","addressLine2":"","city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[],"taxAddresses":[],"subscriptions":[]}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"If the customer ID cannot be associated with an active customer","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]}},"/api/Customers/{customerId}/address":{"post":{"tags":["Customers"],"summary":"Add Customer Address","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/CustomerAddressRequestDTO"},"example":{"addressType":"Billing","addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}},"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAddressRequestDTO"},"example":{"addressType":"Billing","addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}},"text/json":{"schema":{"$ref":"#/components/schemas/CustomerAddressRequestDTO"},"example":{"addressType":"Billing","addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CustomerAddressRequestDTO"},"example":{"addressType":"Billing","addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":0,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[],"taxAddresses":[],"subscriptions":[]}},"application/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":0,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[],"taxAddresses":[],"subscriptions":[]}},"text/json":{"schema":{"$ref":"#/components/schemas/CustomerDTO"},"example":{"customerId":1,"merchantCustomerRefId":"1234-5678-9101","firstName":"John","lastName":"Doe","billingAddresses":[{"addressId":0,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"90000","phoneNumber":null,"email":null,"country":"US"}],"shippingAddresses":[],"taxAddresses":[],"subscriptions":[]}}}},"400":{"description":"If an invalid field or value is submitted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"If the customer ID cannot be associated with an active customer","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]}},"/api/Customers/{customerId}/invoices":{"get":{"tags":["Customers"],"summary":"Search Invoices for Customer","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"merchantCustomerRefId","in":"query","schema":{"type":"string"}},{"name":"merchantInvoiceRefId","in":"query","schema":{"type":"string"}},{"name":"startDate","in":"query","schema":{"type":"string"}},{"name":"endDate","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDTO"}},"example":[{"invoiceId":1,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":60.99,"tax":5.4,"total":66.39,"billingDate":"21-Jul-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null},{"invoiceId":2,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":40.99,"tax":3.6,"total":43.59,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null}]},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDTO"}},"example":[{"invoiceId":1,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":60.99,"tax":5.4,"total":66.39,"billingDate":"21-Jul-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null},{"invoiceId":2,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":40.99,"tax":3.6,"total":43.59,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDTO"}},"example":[{"invoiceId":1,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":60.99,"tax":5.4,"total":66.39,"billingDate":"21-Jul-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null},{"invoiceId":2,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":40.99,"tax":3.6,"total":43.59,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null}]}}},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]}},"/api/Customers/{customerId}/installments":{"post":{"tags":["Customers"],"summary":"Create Installment","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/CreateInstallmentRequestDTO"},"example":{"merchantInstallmentRefId":"1234-5678-9101","billingFrequency":{"intervalType":1,"intervalCount":1},"startDate":"2025-08-21T00:00:00Z","trialDuration":0,"trialDurationType":1,"taxAddress":{"addressId":null,"addressLine1":"101 Update Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"installmentItems":[{"name":"Billing Plan 1","value":1000,"valueType":"Standard"},{"name":"Billing Plan 2","value":1200,"valueType":"Standard"}],"downPayment":200,"installmentType":"Amount","installmentValue":500,"paymentMethod":{"paymentMethodTypes":[1],"billingAddress":{"addressId":null,"addressLine1":"100 Main Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"creditCard":{"paymentAccountNumber":"4111111111111111","expirationDate":"1025","securityCode":null,"networkToken":null,"processingMethodType":5},"ach":null,"googlePay":null,"applePay":null,"merchantPaymentMethodRefId":"payment-method-ref-id_hgays-213-4rf4","billingFirstName":"John","billingLastName":"Doe","billingFullName":null},"paymentMethodAuthorizationId":null,"paymentMethodId":null}},"application/json":{"schema":{"$ref":"#/components/schemas/CreateInstallmentRequestDTO"},"example":{"merchantInstallmentRefId":"1234-5678-9101","billingFrequency":{"intervalType":1,"intervalCount":1},"startDate":"2025-08-21T00:00:00Z","trialDuration":0,"trialDurationType":1,"taxAddress":{"addressId":null,"addressLine1":"101 Update Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"installmentItems":[{"name":"Billing Plan 1","value":1000,"valueType":"Standard"},{"name":"Billing Plan 2","value":1200,"valueType":"Standard"}],"downPayment":200,"installmentType":"Amount","installmentValue":500,"paymentMethod":{"paymentMethodTypes":[1],"billingAddress":{"addressId":null,"addressLine1":"100 Main Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"creditCard":{"paymentAccountNumber":"4111111111111111","expirationDate":"1025","securityCode":null,"networkToken":null,"processingMethodType":5},"ach":null,"googlePay":null,"applePay":null,"merchantPaymentMethodRefId":"payment-method-ref-id_hgays-213-4rf4","billingFirstName":"John","billingLastName":"Doe","billingFullName":null},"paymentMethodAuthorizationId":null,"paymentMethodId":null}},"text/json":{"schema":{"$ref":"#/components/schemas/CreateInstallmentRequestDTO"},"example":{"merchantInstallmentRefId":"1234-5678-9101","billingFrequency":{"intervalType":1,"intervalCount":1},"startDate":"2025-08-21T00:00:00Z","trialDuration":0,"trialDurationType":1,"taxAddress":{"addressId":null,"addressLine1":"101 Update Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"installmentItems":[{"name":"Billing Plan 1","value":1000,"valueType":"Standard"},{"name":"Billing Plan 2","value":1200,"valueType":"Standard"}],"downPayment":200,"installmentType":"Amount","installmentValue":500,"paymentMethod":{"paymentMethodTypes":[1],"billingAddress":{"addressId":null,"addressLine1":"100 Main Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"creditCard":{"paymentAccountNumber":"4111111111111111","expirationDate":"1025","securityCode":null,"networkToken":null,"processingMethodType":5},"ach":null,"googlePay":null,"applePay":null,"merchantPaymentMethodRefId":"payment-method-ref-id_hgays-213-4rf4","billingFirstName":"John","billingLastName":"Doe","billingFullName":null},"paymentMethodAuthorizationId":null,"paymentMethodId":null}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CreateInstallmentRequestDTO"},"example":{"merchantInstallmentRefId":"1234-5678-9101","billingFrequency":{"intervalType":1,"intervalCount":1},"startDate":"2025-08-21T00:00:00Z","trialDuration":0,"trialDurationType":1,"taxAddress":{"addressId":null,"addressLine1":"101 Update Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"installmentItems":[{"name":"Billing Plan 1","value":1000,"valueType":"Standard"},{"name":"Billing Plan 2","value":1200,"valueType":"Standard"}],"downPayment":200,"installmentType":"Amount","installmentValue":500,"paymentMethod":{"paymentMethodTypes":[1],"billingAddress":{"addressId":null,"addressLine1":"100 Main Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"creditCard":{"paymentAccountNumber":"4111111111111111","expirationDate":"1025","securityCode":null,"networkToken":null,"processingMethodType":5},"ach":null,"googlePay":null,"applePay":null,"merchantPaymentMethodRefId":"payment-method-ref-id_hgays-213-4rf4","billingFirstName":"John","billingLastName":"Doe","billingFullName":null},"paymentMethodAuthorizationId":null,"paymentMethodId":null}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/InstallmentDTO"},"example":{"installmentId":1,"customerId":1,"merchantInstallmentRefId":"1234-5678-9101","billingFrequency":{"intervalType":1,"intervalCount":1},"installmentType":"Amount","installmentValue":100.5,"downPayment":800.99,"initialBillDate":"21-Aug-25","nextBillDate":"21-Sep-25","taxAddress":{"addressId":1,"addressLine1":"112 Main Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"paymentMethodIds":[1],"installmentItems":[{"installmentItemId":1,"installmentId":0,"name":"Installment item 1","value":1001.99,"valueType":"Standard"}],"billingPlans":[{"installmentBillingPlanId":1,"installmentId":1,"name":"Installment item 1","value":800.99,"startDate":"21-Aug-25","cyclesRemaining":0,"cycleCount":1,"valueType":"Standart"},{"installmentBillingPlanId":2,"installmentId":1,"name":"Installment item 1","value":100.5,"startDate":"21-Aug-25","cyclesRemaining":1,"cycleCount":1,"valueType":"Standart"}]}},"application/json":{"schema":{"$ref":"#/components/schemas/InstallmentDTO"},"example":{"installmentId":1,"customerId":1,"merchantInstallmentRefId":"1234-5678-9101","billingFrequency":{"intervalType":1,"intervalCount":1},"installmentType":"Amount","installmentValue":100.5,"downPayment":800.99,"initialBillDate":"21-Aug-25","nextBillDate":"21-Sep-25","taxAddress":{"addressId":1,"addressLine1":"112 Main Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"paymentMethodIds":[1],"installmentItems":[{"installmentItemId":1,"installmentId":0,"name":"Installment item 1","value":1001.99,"valueType":"Standard"}],"billingPlans":[{"installmentBillingPlanId":1,"installmentId":1,"name":"Installment item 1","value":800.99,"startDate":"21-Aug-25","cyclesRemaining":0,"cycleCount":1,"valueType":"Standart"},{"installmentBillingPlanId":2,"installmentId":1,"name":"Installment item 1","value":100.5,"startDate":"21-Aug-25","cyclesRemaining":1,"cycleCount":1,"valueType":"Standart"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/InstallmentDTO"},"example":{"installmentId":1,"customerId":1,"merchantInstallmentRefId":"1234-5678-9101","billingFrequency":{"intervalType":1,"intervalCount":1},"installmentType":"Amount","installmentValue":100.5,"downPayment":800.99,"initialBillDate":"21-Aug-25","nextBillDate":"21-Sep-25","taxAddress":{"addressId":1,"addressLine1":"112 Main Street","addressLine2":null,"city":"Irvine","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"paymentMethodIds":[1],"installmentItems":[{"installmentItemId":1,"installmentId":0,"name":"Installment item 1","value":1001.99,"valueType":"Standard"}],"billingPlans":[{"installmentBillingPlanId":1,"installmentId":1,"name":"Installment item 1","value":800.99,"startDate":"21-Aug-25","cyclesRemaining":0,"cycleCount":1,"valueType":"Standart"},{"installmentBillingPlanId":2,"installmentId":1,"name":"Installment item 1","value":100.5,"startDate":"21-Aug-25","cyclesRemaining":1,"cycleCount":1,"valueType":"Standart"}]}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}},"409":{"description":"Conflict","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"PaymentMethodAuthorizationId is being processed in another request."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"PaymentMethodAuthorizationId is being processed in another request."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"PaymentMethodAuthorizationId is being processed in another request."}}}}},"security":[{"Bearer":[]}]}},"/api/Invoices":{"get":{"tags":["Invoices"],"summary":"Get Invoices","parameters":[{"name":"merchantCustomerRefId","in":"query","schema":{"type":"string"}},{"name":"merchantInvoiceRefId","in":"query","schema":{"type":"string"}},{"name":"startDate","in":"query","schema":{"type":"string"}},{"name":"endDate","in":"query","schema":{"type":"string"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VwInvoice"}},"example":[{"invoiceId":1,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":60.99,"tax":5.4,"total":66.39,"billingDate":"21-Jul-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null},{"invoiceId":2,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":40.99,"tax":3.6,"total":43.59,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null}]},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VwInvoice"}},"example":[{"invoiceId":1,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":60.99,"tax":5.4,"total":66.39,"billingDate":"21-Jul-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null},{"invoiceId":2,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":40.99,"tax":3.6,"total":43.59,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VwInvoice"}},"example":[{"invoiceId":1,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":60.99,"tax":5.4,"total":66.39,"billingDate":"21-Jul-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null},{"invoiceId":2,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":40.99,"tax":3.6,"total":43.59,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null}]}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}}},"security":[{"Bearer":[]}]}},"/api/Invoices/v{version}":{"get":{"tags":["Invoices"],"summary":"Get Invoices V1","parameters":[{"name":"merchantCustomerRefId","in":"query","schema":{"type":"string"}},{"name":"billingStartDate","in":"query","schema":{"type":"string"}},{"name":"billingEndDate","in":"query","schema":{"type":"string"}},{"name":"lastUpdateStartDate","in":"query","schema":{"type":"string"}},{"name":"lastUpdateEndDate","in":"query","schema":{"type":"string"}},{"name":"lastAttemptOnly","in":"query","schema":{"type":"boolean"}},{"name":"includeRawProcessorResponse","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"orderBy","in":"query","schema":{"$ref":"#/components/schemas/GetInvoicesV1OrderBy"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDTO"}},"example":[{"invoiceId":1,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":60.99,"tax":5.4,"total":66.39,"billingDate":"21-Jul-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null},{"invoiceId":2,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":40.99,"tax":3.6,"total":43.59,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null}]},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDTO"}},"example":[{"invoiceId":1,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":60.99,"tax":5.4,"total":66.39,"billingDate":"21-Jul-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null},{"invoiceId":2,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":40.99,"tax":3.6,"total":43.59,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoiceDTO"}},"example":[{"invoiceId":1,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":60.99,"tax":5.4,"total":66.39,"billingDate":"21-Jul-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null},{"invoiceId":2,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","binNumber":"411111","last4Digit":"1111","invoiceStatus":"Pending","subtotal":40.99,"tax":3.6,"total":43.59,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null}]}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to perform the request action with provided data."}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}}},"security":[{"Bearer":[]}]}},"/api/Invoices/{invoiceId}":{"get":{"tags":["Invoices"],"summary":"Get Invoice","parameters":[{"name":"invoiceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"includeRawProcessorResponse","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"},"example":{"invoiceId":1,"parentInvoiceId":null,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","paymentMethod":{"paymentMethodId":0,"billingAddressId":0,"billingFirstName":"John","billingLastName":"Doe","merchantPaymentMethodRefId":null,"billingAddress":{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"paymentMethodAchDetails":null,"paymentMethodCreditCardDetails":null},"invoiceStatus":"Pending","subtotal":73.1,"tax":6.48,"total":79.58,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null,"subscriptionId":null,"installmentId":null,"eligibilityFailReason":null,"merchantSubscriptionRefId":null,"networkTransactionId":null,"currency":null,"invoiceLineItems":[{"invoiceId":1,"invoiceLineItemId":1,"name":"LineItem1","description":"Line Item 1 Description","value":15.3,"valueType":null},{"invoiceId":1,"invoiceLineItemId":2,"name":"LineItem2","description":"Line Item 2 Description","value":25.5,"valueType":null},{"invoiceId":1,"invoiceLineItemId":3,"name":"LineItem3","description":"Line Item 3 Description","value":32.3,"valueType":null}],"invoiceAttempts":null}},"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"},"example":{"invoiceId":1,"parentInvoiceId":null,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","paymentMethod":{"paymentMethodId":0,"billingAddressId":0,"billingFirstName":"John","billingLastName":"Doe","merchantPaymentMethodRefId":null,"billingAddress":{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"paymentMethodAchDetails":null,"paymentMethodCreditCardDetails":null},"invoiceStatus":"Pending","subtotal":73.1,"tax":6.48,"total":79.58,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null,"subscriptionId":null,"installmentId":null,"eligibilityFailReason":null,"merchantSubscriptionRefId":null,"networkTransactionId":null,"currency":null,"invoiceLineItems":[{"invoiceId":1,"invoiceLineItemId":1,"name":"LineItem1","description":"Line Item 1 Description","value":15.3,"valueType":null},{"invoiceId":1,"invoiceLineItemId":2,"name":"LineItem2","description":"Line Item 2 Description","value":25.5,"valueType":null},{"invoiceId":1,"invoiceLineItemId":3,"name":"LineItem3","description":"Line Item 3 Description","value":32.3,"valueType":null}],"invoiceAttempts":null}},"text/json":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"},"example":{"invoiceId":1,"parentInvoiceId":null,"customerId":null,"merchantInvoiceRefId":"1234-5678-9101","paymentMethod":{"paymentMethodId":0,"billingAddressId":0,"billingFirstName":"John","billingLastName":"Doe","merchantPaymentMethodRefId":null,"billingAddress":{"addressId":1,"addressLine1":"100 Main Street","addressLine2":null,"city":"Santa Ana","state":"CA","postalCode":"92602","phoneNumber":null,"email":null,"country":"US"},"paymentMethodAchDetails":null,"paymentMethodCreditCardDetails":null},"invoiceStatus":"Pending","subtotal":73.1,"tax":6.48,"total":79.58,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null,"subscriptionId":null,"installmentId":null,"eligibilityFailReason":null,"merchantSubscriptionRefId":null,"networkTransactionId":null,"currency":null,"invoiceLineItems":[{"invoiceId":1,"invoiceLineItemId":1,"name":"LineItem1","description":"Line Item 1 Description","value":15.3,"valueType":null},{"invoiceId":1,"invoiceLineItemId":2,"name":"LineItem2","description":"Line Item 2 Description","value":25.5,"valueType":null},{"invoiceId":1,"invoiceLineItemId":3,"name":"LineItem3","description":"Line Item 3 Description","value":32.3,"valueType":null}],"invoiceAttempts":null}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Attempted to perform an unauthorized operation."}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"application/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}},"text/json":{"schema":{"$ref":"#/components/schemas/StatusMessageResponse"},"example":{"message":"Unable to find an entity with the provided data."}}}}},"security":[{"Bearer":[]}]},"patch":{"tags":["Invoices"],"summary":"Update Invoice","parameters":[{"name":"invoiceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json-patch+json":{"schema":{"$ref":"#/components/schemas/UpdateInvoiceRequestDTO"},"example":{"merchantInvoiceRefId":"UpdatedMerchantInvoiceRefId","invoiceStatusType":"Void"}},"application/json":{"schema":{"$ref":"#/components/schemas/UpdateInvoiceRequestDTO"},"example":{"merchantInvoiceRefId":"UpdatedMerchantInvoiceRefId","invoiceStatusType":"Void"}},"text/json":{"schema":{"$ref":"#/components/schemas/UpdateInvoiceRequestDTO"},"example":{"merchantInvoiceRefId":"UpdatedMerchantInvoiceRefId","invoiceStatusType":"Void"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/UpdateInvoiceRequestDTO"},"example":{"merchantInvoiceRefId":"UpdatedMerchantInvoiceRefId","invoiceStatusType":"Void"}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"},"example":{"invoiceId":1,"parentInvoiceId":null,"customerId":null,"merchantInvoiceRefId":"UpdatedMerchantInvoiceRefId","paymentMethod":null,"invoiceStatus":"Pending","subtotal":73.1,"tax":6.48,"total":79.58,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null,"subscriptionId":null,"installmentId":null,"eligibilityFailReason":null,"merchantSubscriptionRefId":null,"networkTransactionId":null,"currency":null,"invoiceLineItems":[{"invoiceId":1,"invoiceLineItemId":1,"name":"LineItem1","description":"Line Item 1 Description","value":15.3,"valueType":null},{"invoiceId":1,"invoiceLineItemId":2,"name":"LineItem2","description":"Line Item 2 Description","value":25.5,"valueType":null},{"invoiceId":1,"invoiceLineItemId":3,"name":"LineItem3","description":"Line Item 3 Description","value":32.3,"valueType":null}],"invoiceAttempts":null}},"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"},"example":{"invoiceId":1,"parentInvoiceId":null,"customerId":null,"merchantInvoiceRefId":"UpdatedMerchantInvoiceRefId","paymentMethod":null,"invoiceStatus":"Pending","subtotal":73.1,"tax":6.48,"total":79.58,"billingDate":"21-Aug-25","merchantLegalName":null,"merchantCustomerRefId":null,"customerFirstName":null,"customerLastName":null,"subscriptionId":null,"installmentId":null,"eligibilityFailReason":null,"merchantSubscriptionRefId":null,"networkTransactionId":null,"currency":null,"invoiceLineItems":[{"invoiceId":1,"invoiceLineItemId":1,"name":"LineItem1","description":"Line Item 1 Description","value":15.3,"valueType":null},{"invoiceId":1,"invoiceLineItemId":2,"name":"LineItem2","description":"Line Item 2 Description","value":25.5,"valueType":null},{"invoiceId":1,"invoiceLineItemId":3,"name":"LineItem3","description":"Line Item 3 Description","value":32.3,"valueType":null}],"invoiceAttempts":null}},"text/json":{"schema":{"$ref":"#/components/schemas/InvoiceDTO"},"example":{"invoiceId":1,"parentInvoiceId":null,"customerId":null,"merchantInvoiceRefId":"UpdatedMerchantInvoiceRefId","paymentMethod":null,"invoiceStatus":"Pending","subtotal":73.1,"tax":6.48,"total":79.58,"billingDate":"21-Aug-25","merchantLegalName":null,"mercha
[...]
