{
  "openapi": "3.0.1",
  "info": {
    "title": "Revolv3 OpenApi Spec",
    "description": "Spec for Revolv3",
    "version": "1.25.0"
  },
  "servers": [
    {
      "url": "https://api.revolv3.com"
    }
  ],
  "paths": {
    "/api/account-verification/ach/person": {
      "post": {
        "tags": [
          "AccountVerification"
        ],
        "summary": "Validate ACH person account",
        "description": "<div><p></p><p>The purpose of this service is to provide merchants with a streamlined and secure method to verify their customers' ACH (Automated Clearing House) accounts.</p><p></p><p>Upon success, this operation returns a status of 200 (OK).</p><p></p><p>If an invalid field or value is submitted, a status of 400 (Bad Request) will be returned.</p><p></p><p>If the account number is not approved, a status code of 400 will be returned with error code and message.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>Address</td><td>Address at which the customer should be billed. A required set of Address details: AddressLine1, City and State or AddressLine1 and PostalCode or State and PostalCode</td></tr><tr><td>Ach</td><td>Object structure according to the ach payment method type: routingNumber, accountNumber, accountType</td></tr><tr><td>FirstName</td><td>Customer's first name</td></tr><tr><td>LastName</td><td>Customer's last name</td></tr></tbody></table></div></div><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>CompanyName</td><td>Company Name</td><td>null</td></tr></tbody></table></div></div></div></div></div>",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AchPaymentAccountVerificationDto"
              },
              "example": {
                "amount": null,
                "firstName": "Joe",
                "lastName": "Doe",
                "companyName": null,
                "address": {
                  "addressId": null,
                  "addressLine1": "26 River Street",
                  "addressLine2": "",
                  "city": "Cambridge",
                  "state": "MA",
                  "postalCode": "02125",
                  "phoneNumber": "123-456-789",
                  "email": null,
                  "country": "US"
                },
                "ach": {
                  "routingNumber": "123456789",
                  "accountNumber": "123456789",
                  "accountType": "Checking",
                  "processingMethodType": 4
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AchPaymentAccountVerificationDto"
              },
              "example": {
                "amount": null,
                "firstName": "Joe",
                "lastName": "Doe",
                "companyName": null,
                "address": {
                  "addressId": null,
                  "addressLine1": "26 River Street",
                  "addressLine2": "",
                  "city": "Cambridge",
                  "state": "MA",
                  "postalCode": "02125",
                  "phoneNumber": "123-456-789",
                  "email": null,
                  "country": "US"
                },
                "ach": {
                  "routingNumber": "123456789",
                  "accountNumber": "123456789",
                  "accountType": "Checking",
                  "processingMethodType": 4
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AchPaymentAccountVerificationDto"
              },
              "example": {
                "amount": null,
                "firstName": "Joe",
                "lastName": "Doe",
                "companyName": null,
                "address": {
                  "addressId": null,
                  "addressLine1": "26 River Street",
                  "addressLine2": "",
                  "city": "Cambridge",
                  "state": "MA",
                  "postalCode": "02125",
                  "phoneNumber": "123-456-789",
                  "email": null,
                  "country": "US"
                },
                "ach": {
                  "routingNumber": "123456789",
                  "accountNumber": "123456789",
                  "accountType": "Checking",
                  "processingMethodType": 4
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AchPaymentAccountVerificationDto"
              },
              "example": {
                "amount": null,
                "firstName": "Joe",
                "lastName": "Doe",
                "companyName": null,
                "address": {
                  "addressId": null,
                  "addressLine1": "26 River Street",
                  "addressLine2": "",
                  "city": "Cambridge",
                  "state": "MA",
                  "postalCode": "02125",
                  "phoneNumber": "123-456-789",
                  "email": null,
                  "country": "US"
                },
                "ach": {
                  "routingNumber": "123456789",
                  "accountNumber": "123456789",
                  "accountType": "Checking",
                  "processingMethodType": 4
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The ACH account was successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAchAccountResponse"
                },
                "example": {
                  "isVerified": true,
                  "message": "Approved",
                  "responseCode": "000"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAchAccountResponse"
                },
                "example": {
                  "isVerified": true,
                  "message": "Approved",
                  "responseCode": "000"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAchAccountResponse"
                },
                "example": {
                  "isVerified": true,
                  "message": "Approved",
                  "responseCode": "000"
                }
              }
            }
          },
          "400": {
            "description": "If an invalid field or value is submitted, or if the account number is not approved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/account-verification/ach/corporate": {
      "post": {
        "tags": [
          "AccountVerification"
        ],
        "summary": "Validate ACH corporate account",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AchPaymentAccountVerificationDto"
              },
              "example": {
                "amount": null,
                "firstName": null,
                "lastName": null,
                "companyName": "Company Inc.",
                "address": {
                  "addressId": null,
                  "addressLine1": "26 River Street",
                  "addressLine2": "",
                  "city": "Cambridge",
                  "state": "MA",
                  "postalCode": "02125",
                  "phoneNumber": "123-456-789",
                  "email": null,
                  "country": "US"
                },
                "ach": {
                  "routingNumber": "123456789",
                  "accountNumber": "123456789",
                  "accountType": "Checking",
                  "processingMethodType": 4
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AchPaymentAccountVerificationDto"
              },
              "example": {
                "amount": null,
                "firstName": null,
                "lastName": null,
                "companyName": "Company Inc.",
                "address": {
                  "addressId": null,
                  "addressLine1": "26 River Street",
                  "addressLine2": "",
                  "city": "Cambridge",
                  "state": "MA",
                  "postalCode": "02125",
                  "phoneNumber": "123-456-789",
                  "email": null,
                  "country": "US"
                },
                "ach": {
                  "routingNumber": "123456789",
                  "accountNumber": "123456789",
                  "accountType": "Checking",
                  "processingMethodType": 4
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AchPaymentAccountVerificationDto"
              },
              "example": {
                "amount": null,
                "firstName": null,
                "lastName": null,
                "companyName": "Company Inc.",
                "address": {
                  "addressId": null,
                  "addressLine1": "26 River Street",
                  "addressLine2": "",
                  "city": "Cambridge",
                  "state": "MA",
                  "postalCode": "02125",
                  "phoneNumber": "123-456-789",
                  "email": null,
                  "country": "US"
                },
                "ach": {
                  "routingNumber": "123456789",
                  "accountNumber": "123456789",
                  "accountType": "Checking",
                  "processingMethodType": 4
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AchPaymentAccountVerificationDto"
              },
              "example": {
                "amount": null,
                "firstName": null,
                "lastName": null,
                "companyName": "Company Inc.",
                "address": {
                  "addressId": null,
                  "addressLine1": "26 River Street",
                  "addressLine2": "",
                  "city": "Cambridge",
                  "state": "MA",
                  "postalCode": "02125",
                  "phoneNumber": "123-456-789",
                  "email": null,
                  "country": "US"
                },
                "ach": {
                  "routingNumber": "123456789",
                  "accountNumber": "123456789",
                  "accountType": "Checking",
                  "processingMethodType": 4
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The ACH account was successfully verified",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAchAccountResponse"
                },
                "example": {
                  "isVerified": true,
                  "message": "Approved",
                  "responseCode": "000"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAchAccountResponse"
                },
                "example": {
                  "isVerified": true,
                  "message": "Approved",
                  "responseCode": "000"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyAchAccountResponse"
                },
                "example": {
                  "isVerified": true,
                  "message": "Approved",
                  "responseCode": "000"
                }
              }
            }
          },
          "400": {
            "description": "If an invalid field or value is submitted, or if the account number is not approved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                }
              }
            }
          }
        },
        "description": "<div><p></p><p>The purpose of this service is to provide merchants with a streamlined and secure method to verify their customers' ACH (Automated Clearing House) accounts.</p><p></p><p>Upon success, this operation returns a status of 200 (OK).</p><p></p><p>If an invalid field or value is submitted, a status of 400 (Bad Request) will be returned.</p><p></p><p>If the account number is not approved, a status code of 400 will be returned with error code and message.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>Address</td><td>Address at which the customer should be billed. A required set of Address details: AddressLine1, City and State or AddressLine1 and PostalCode or State and PostalCode</td></tr><tr><td>Ach</td><td>Object structure according to the ach payment method type: routingNumber, accountNumber, accountType</td></tr><tr><td>CompanyName</td><td>Company Name</td></tr></tbody></table></div></div><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>FirstName</td><td>Customer's first name</td><td></td></tr><tr><td>LastName</td><td>Customer's last name</td><td></td></tr></tbody></table></div></div></div></div></div>"
      }
    },
    "/api/Authentication/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get Merchant Access Token",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAzureAdTokenRequestDTO"
              },
              "example": {
                "clientId": "clientIdentifier",
                "clientSecret": "clientSecret"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAzureAdTokenRequestDTO"
              },
              "example": {
                "clientId": "clientIdentifier",
                "clientSecret": "clientSecret"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAzureAdTokenRequestDTO"
              },
              "example": {
                "clientId": "clientIdentifier",
                "clientSecret": "clientSecret"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAzureAdTokenRequestDTO"
              },
              "example": {
                "clientId": "clientIdentifier",
                "clientSecret": "clientSecret"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The token successfully received",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                },
                "example": {
                  "token_type": "Bearer",
                  "expires_in": 3599,
                  "ext_expires_in": 3599,
                  "access_token": "thisisagianttokenhash1NiIsImtpZCI6IlNzWnNCTmhaY0YzUTlTNHRycFFCVEJ5TlthisisagianttokenhashTQ0MTMiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vZjAyMzQ1MDEtMjdkZC00NTY1LWI1NDUtNDBlZDFmZjNjZDU1L3YyLjAiLCJpYXQiOjE1OTEyODthisisagianttokenhashhwIjoxNTkxMjkzODYzLCJhaW8iOiI0MmRnWURBTDhGTU5iNUgwOGF4thisisagianttokenhashYmExN2VkLTExMGMtNDVmthisisagianttokenhashmF6cGFjciI6IjEiLCJ0aWQiOiJmMDIzNDUwMS0yN2RkLTQ1NjUtYjU0NS00MGVkMWZmM2NkNTUiLCJ1dGkiOiJWOEhIbXVfZ1RVZUZQQ0pKNF91b0FBIiwidmVyIjoiMi4wIn0.rrQVOMQ2M3xhBeA96fOeidrghJep_DEC0-y-WTlsZu37rO18FgTBAp-tNeMasrLZlEcP6O2Ij8OqxY8yqxmIaPoaXpH9f8DN6nkthisisagianttokenhashlCDGp6zUdEb0XDA2-JXbSbs918g9DPBjuTDio1-Cithisisagianttokenhash8C4-H1XZfRN4Z7IMthisisagianttokenhashxp8lqK66NrXI2RtihtBs6gI3GKpfhok-H6_NvUaQQthisisagianttokenhashOHlKrKQ6D2fUIcXg"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                },
                "example": {
                  "token_type": "Bearer",
                  "expires_in": 3599,
                  "ext_expires_in": 3599,
                  "access_token": "thisisagianttokenhash1NiIsImtpZCI6IlNzWnNCTmhaY0YzUTlTNHRycFFCVEJ5TlthisisagianttokenhashTQ0MTMiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vZjAyMzQ1MDEtMjdkZC00NTY1LWI1NDUtNDBlZDFmZjNjZDU1L3YyLjAiLCJpYXQiOjE1OTEyODthisisagianttokenhashhwIjoxNTkxMjkzODYzLCJhaW8iOiI0MmRnWURBTDhGTU5iNUgwOGF4thisisagianttokenhashYmExN2VkLTExMGMtNDVmthisisagianttokenhashmF6cGFjciI6IjEiLCJ0aWQiOiJmMDIzNDUwMS0yN2RkLTQ1NjUtYjU0NS00MGVkMWZmM2NkNTUiLCJ1dGkiOiJWOEhIbXVfZ1RVZUZQQ0pKNF91b0FBIiwidmVyIjoiMi4wIn0.rrQVOMQ2M3xhBeA96fOeidrghJep_DEC0-y-WTlsZu37rO18FgTBAp-tNeMasrLZlEcP6O2Ij8OqxY8yqxmIaPoaXpH9f8DN6nkthisisagianttokenhashlCDGp6zUdEb0XDA2-JXbSbs918g9DPBjuTDio1-Cithisisagianttokenhash8C4-H1XZfRN4Z7IMthisisagianttokenhashxp8lqK66NrXI2RtihtBs6gI3GKpfhok-H6_NvUaQQthisisagianttokenhashOHlKrKQ6D2fUIcXg"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                },
                "example": {
                  "token_type": "Bearer",
                  "expires_in": 3599,
                  "ext_expires_in": 3599,
                  "access_token": "thisisagianttokenhash1NiIsImtpZCI6IlNzWnNCTmhaY0YzUTlTNHRycFFCVEJ5TlthisisagianttokenhashTQ0MTMiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vZjAyMzQ1MDEtMjdkZC00NTY1LWI1NDUtNDBlZDFmZjNjZDU1L3YyLjAiLCJpYXQiOjE1OTEyODthisisagianttokenhashhwIjoxNTkxMjkzODYzLCJhaW8iOiI0MmRnWURBTDhGTU5iNUgwOGF4thisisagianttokenhashYmExN2VkLTExMGMtNDVmthisisagianttokenhashmF6cGFjciI6IjEiLCJ0aWQiOiJmMDIzNDUwMS0yN2RkLTQ1NjUtYjU0NS00MGVkMWZmM2NkNTUiLCJ1dGkiOiJWOEhIbXVfZ1RVZUZQQ0pKNF91b0FBIiwidmVyIjoiMi4wIn0.rrQVOMQ2M3xhBeA96fOeidrghJep_DEC0-y-WTlsZu37rO18FgTBAp-tNeMasrLZlEcP6O2Ij8OqxY8yqxmIaPoaXpH9f8DN6nkthisisagianttokenhashlCDGp6zUdEb0XDA2-JXbSbs918g9DPBjuTDio1-Cithisisagianttokenhash8C4-H1XZfRN4Z7IMthisisagianttokenhashxp8lqK66NrXI2RtihtBs6gI3GKpfhok-H6_NvUaQQthisisagianttokenhashOHlKrKQ6D2fUIcXg"
                }
              }
            }
          },
          "400": {
            "description": "If an invalid field or value is submitted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              }
            }
          },
          "401": {
            "description": "If the AzureAD token cannot be retrieved",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to retrieve AzureAD token"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to retrieve AzureAD token"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to retrieve AzureAD token"
                }
              }
            }
          }
        },
        "description": "<div><p></p><p>For production access to the API, merchants will need an access token.</p><p></p><p>The access tokens are retrieved by sending the merchant client identifier and the merchant secret which can be generated in the Merchant Settings Profile page.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>ClientId</td><td>Client's unique identifier</td></tr><tr><td>ClientSecret</td><td>Client's unique secret API key</td></tr></tbody></table></div></div></div></div></div>"
      }
    },
    "/api/Checkout": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "Create Checkout Link",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutLinkRequestDto"
              },
              "example": {
                "returnUrl": "https%3A%2F%2Fsite.com",
                "oneTimePayment": {
                  "checkoutLineItems": [
                    {
                      "name": "Item 1",
                      "description": "Item Description",
                      "value": 9.99,
                      "valueType": "Standard"
                    },
                    {
                      "name": "Item 2",
                      "description": "Item Description",
                      "value": 21.99,
                      "valueType": "Standard"
                    }
                  ]
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutLinkRequestDto"
              },
              "example": {
                "returnUrl": "https%3A%2F%2Fsite.com",
                "oneTimePayment": {
                  "checkoutLineItems": [
                    {
                      "name": "Item 1",
                      "description": "Item Description",
                      "value": 9.99,
                      "valueType": "Standard"
                    },
                    {
                      "name": "Item 2",
                      "description": "Item Description",
                      "value": 21.99,
                      "valueType": "Standard"
                    }
                  ]
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutLinkRequestDto"
              },
              "example": {
                "returnUrl": "https%3A%2F%2Fsite.com",
                "oneTimePayment": {
                  "checkoutLineItems": [
                    {
                      "name": "Item 1",
                      "description": "Item Description",
                      "value": 9.99,
                      "valueType": "Standard"
                    },
                    {
                      "name": "Item 2",
                      "description": "Item Description",
                      "value": 21.99,
                      "valueType": "Standard"
                    }
                  ]
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutLinkRequestDto"
              },
              "example": {
                "returnUrl": "https%3A%2F%2Fsite.com",
                "oneTimePayment": {
                  "checkoutLineItems": [
                    {
                      "name": "Item 1",
                      "description": "Item Description",
                      "value": 9.99,
                      "valueType": "Standard"
                    },
                    {
                      "name": "Item 2",
                      "description": "Item Description",
                      "value": 21.99,
                      "valueType": "Standard"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The checkout link was successfully created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCheckoutLinkResponseDto"
                },
                "example": {
                  "checkoutId": "12345678-ABCD-1234-EFGH-987654321000",
                  "checkoutLink": "http://localhost:4200/checkout/12345678-ABCD-1234-EFGH-987654321000"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCheckoutLinkResponseDto"
                },
                "example": {
                  "checkoutId": "12345678-ABCD-1234-EFGH-987654321000",
                  "checkoutLink": "http://localhost:4200/checkout/12345678-ABCD-1234-EFGH-987654321000"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCheckoutLinkResponseDto"
                },
                "example": {
                  "checkoutId": "12345678-ABCD-1234-EFGH-987654321000",
                  "checkoutLink": "http://localhost:4200/checkout/12345678-ABCD-1234-EFGH-987654321000"
                }
              }
            }
          },
          "400": {
            "description": "If an invalid field or value is submitted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              }
            }
          }
        },
        "description": "<div><p></p><p>Create a URL for a checkout page to accept payments. </p><p></p><p>This URL can be seamlessly integrated into your payment flow, embedded into your payment page, or used to direct customers to a hosted payment page. The link will be deactivated once the customer opens the checkout page.</p><p></p><p>The required arguments for this endpoint are checkout line items. Optionally, you can provide a return URL to redirect the customer to a specific webpage after the payment is completed.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>CheckoutSubscription</td><td>Information for creating a checkout subscription</td></tr><tr><td>BillingFrequencyType</td><td>How often the subscription should be attempted for billing</td></tr><tr><td>SubscriptionBillingPlans</td><td>The subscription's individual billing items</td></tr><tr><td>BillingPlanName</td><td>The subscription's primary payment information</td></tr><tr><td>BillingPlanValue</td><td>Value for which the billing plan should be executed for</td></tr></tbody></table></div></div><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>CustomerId</td><td>Customer's unique identifier</td><td>null</td></tr><tr><td>MerchantCustomerRefId</td><td>Merchant's identifier for the customer</td><td>null</td></tr><tr><td>MerchantSubscriptionRefId</td><td>Merchant's unique identifier for the subscription</td><td>null</td></tr><tr><td>SubscriptionCancelType</td><td>The circumstances under which a subscription must be cancelled (e.g. Immediate or EndOfCycle)</td><td></td></tr><tr><td>TrialDuration</td><td>The amount of trial duration time in the unit of TrialDurationType</td><td>0</td></tr><tr><td>TrialDurationType</td><td>The type of trial duration</td><td>Daily</td></tr><tr><td>BillingPlanCycleCount</td><td>The number of times the billing plan should be billed before expiration</td><td>-1</td></tr><tr><td>BillingPlanValueType</td><td>A qualifier for how the value should be interpreted (e.g. standard, discount, discountPercentage, finalDiscount, or priceOverride)</td><td>Standard</td></tr><tr><td>BillingPlanStartCycleDelay</td><td>Amount of subscription cycle to delay the start date of the billing plan</td><td>0</td></tr></tbody></table></div></div></div></div></div>"
      }
    },
    "/api/Checkout/{checkoutUid}": {
      "get": {
        "tags": [
          "Checkout"
        ],
        "summary": "Get Complete Checkout Information",
        "parameters": [
          {
            "name": "checkoutUid",
            "in": "path",
            "description": "The checkout Uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompleteCheckoutInformationResponseDto"
                },
                "example": {
                  "checkoutId": "12345678-ABCD-1234-EFGH-987654321000",
                  "checkoutStatus": "Pending",
                  "returnUrl": "https://mysite.com/order/12345678",
                  "completionDate": null,
                  "customer": {
                    "customerId": 328,
                    "firstName": "Joe",
                    "lastName": "Doe",
                    "email": "aa@aa.com"
                  },
                  "invoice": {
                    "invoiceId": 8786,
                    "invoiceStatus": "Paid",
                    "total": 10.0,
                    "billingDate": "2025-09-08T14:50:26.8124152+02:00",
                    "paymentMethod": {
                      "paymentMethodId": 0,
                      "billingAddress": {
                        "addressId": 4232,
                        "addressLine1": "20 Bitterwater Street",
                        "addressLine2": null,
                        "city": "King City",
                        "state": "CA",
                        "postalCode": "11111",
                        "phoneNumber": "43823527092",
                        "email": "aa@aa.com",
                        "country": "US"
                      },
                      "billingFirstName": "Joe",
                      "billingLastName": "Doe",
                      "type": null,
                      "achDetails": null,
                      "creditCardDetails": {
                        "last4Digit": "1111",
                        "expirationDate": "11/11"
                      }
                    },
                    "invoiceAttempts": null
                  },
                  "checkoutLineItems": [
                    {
                      "name": "Checkout Line Item Name",
                      "description": "Checkout Line Item Description",
                      "value": 10.0,
                      "valueType": "Standard"
                    }
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompleteCheckoutInformationResponseDto"
                },
                "example": {
                  "checkoutId": "12345678-ABCD-1234-EFGH-987654321000",
                  "checkoutStatus": "Pending",
                  "returnUrl": "https://mysite.com/order/12345678",
                  "completionDate": null,
                  "customer": {
                    "customerId": 328,
                    "firstName": "Joe",
                    "lastName": "Doe",
                    "email": "aa@aa.com"
                  },
                  "invoice": {
                    "invoiceId": 8786,
                    "invoiceStatus": "Paid",
                    "total": 10.0,
                    "billingDate": "2025-09-08T14:50:26.8124152+02:00",
                    "paymentMethod": {
                      "paymentMethodId": 0,
                      "billingAddress": {
                        "addressId": 4232,
                        "addressLine1": "20 Bitterwater Street",
                        "addressLine2": null,
                        "city": "King City",
                        "state": "CA",
                        "postalCode": "11111",
                        "phoneNumber": "43823527092",
                        "email": "aa@aa.com",
                        "country": "US"
                      },
                      "billingFirstName": "Joe",
                      "billingLastName": "Doe",
                      "type": null,
                      "achDetails": null,
                      "creditCardDetails": {
                        "last4Digit": "1111",
                        "expirationDate": "11/11"
                      }
                    },
                    "invoiceAttempts": null
                  },
                  "checkoutLineItems": [
                    {
                      "name": "Checkout Line Item Name",
                      "description": "Checkout Line Item Description",
                      "value": 10.0,
                      "valueType": "Standard"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompleteCheckoutInformationResponseDto"
                },
                "example": {
                  "checkoutId": "12345678-ABCD-1234-EFGH-987654321000",
                  "checkoutStatus": "Pending",
                  "returnUrl": "https://mysite.com/order/12345678",
                  "completionDate": null,
                  "customer": {
                    "customerId": 328,
                    "firstName": "Joe",
                    "lastName": "Doe",
                    "email": "aa@aa.com"
                  },
                  "invoice": {
                    "invoiceId": 8786,
                    "invoiceStatus": "Paid",
                    "total": 10.0,
                    "billingDate": "2025-09-08T14:50:26.8124152+02:00",
                    "paymentMethod": {
                      "paymentMethodId": 0,
                      "billingAddress": {
                        "addressId": 4232,
                        "addressLine1": "20 Bitterwater Street",
                        "addressLine2": null,
                        "city": "King City",
                        "state": "CA",
                        "postalCode": "11111",
                        "phoneNumber": "43823527092",
                        "email": "aa@aa.com",
                        "country": "US"
                      },
                      "billingFirstName": "Joe",
                      "billingLastName": "Doe",
                      "type": null,
                      "achDetails": null,
                      "creditCardDetails": {
                        "last4Digit": "1111",
                        "expirationDate": "11/11"
                      }
                    },
                    "invoiceAttempts": null
                  },
                  "checkoutLineItems": [
                    {
                      "name": "Checkout Line Item Name",
                      "description": "Checkout Line Item Description",
                      "value": 10.0,
                      "valueType": "Standard"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "If an invalid field or value is submitted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              }
            }
          },
          "404": {
            "description": "If the checkout ID cannot be associated with a checkout",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to find an entity with the provided data."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to find an entity with the provided data."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to find an entity with the provided data."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              }
            }
          }
        },
        "description": "<div><p></p><p>Retrieve a complete checkout information (specified with Checkout ID) with a status code of 200 (OK).</p><p>If the checkout ID cannot be associated with a checkout, a status code of 404 will be returned.</p></div>"
      }
    },
    "/api/Customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create Customer",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequestDTO"
              },
              "example": {
                "merchantCustomerRefId": null,
                "firstName": "John",
                "lastName": "Doe",
                "email": null,
                "billingAddresses": [
                  {
                    "addressId": null,
                    "addressLine1": "100 Main Street",
                    "addressLine2": "",
                    "city": "Santa Ana",
                    "state": "CA",
                    "postalCode": "90000",
                    "phoneNumber": null,
                    "email": null,
                    "country": "US"
                  }
                ],
                "shippingAddresses": [
                  {
                    "addressId": null,
                    "addressLine1": "101 First Street",
                    "addressLine2": "",
                    "city": "Costa Mesa",
                    "state": "CA",
                    "postalCode": "90001",
                    "phoneNumber": null,
                    "email": null,
                    "country": "US"
                  }
                ],
                "subscriptions": [
                  {
                    "paymentMethods": [
                      {
                        "paymentMethodTypes": [
                          1
                        ],
                        "priority": 0,
                        "taxAmount": null,
                        "originalNetworkTransactionId": null,
                        "billingAddress": {
                          "addressId": null,
                          "addressLine1": "100 Main Street",
                          "addressLine2": "",
                          "city": "Irvine",
                          "state": "CA",
                          "postalCode": "92602",
                          "phoneNumber": null,
                          "email": null,
                          "country": "US"
                        },
                        "creditCard": {
                          "paymentAccountNumber": "4111111111111111",
                          "expirationDate": "1025",
                          "securityCode": null,
                          "networkToken": null,
                          "processingMethodType": 5
                        },
                        "ach": null,
                        "googlePay": null,
                        "applePay": null,
                        "merchantPaymentMethodRefId": null,
                        "billingFirstName": "John",
                        "billingLastName": "Doe",
                        "billingFullName": null
                      }
                    ],
                    "existingPaymentMethod": null,
                    "merchantSubscriptionRefId": "1234-5678-9101",
                    "billingFrequency": {
                      "intervalType": 1,
                      "intervalCount": 1
                    },
                    "subscriptionStatusType": "current",
                    "subscriptionCancelType": "EndOfCycle",
                    "startDate": "2025-09-08T00:00:00Z",
                    "trialDuration": 0,
                    "trialDurationType": 1,
                    "taxAddress": {
                      "addressId": null,
                      "addressLine1": "101 Update Street",
                      "addressLine2": "",
                      "city": "Irvine",
                      "state": "CA",
                      "postalCode": "92602",
                      "phoneNumber": null,
                      "email": null,
                      "country": "US"
                    },
                    "includeRawProcessorResponse": false,
                    "customer": null,
                    "subscriptionBillingPlans": [
                      {
                        "name": "Billing Plan 1",
                        "value": 10.99,
                        "cycleCount": -1,
                        "valueType": "Standard",
                        "startCycleDelay": 0
                      },
                      {
                        "name": "Billing Plan 2",
                        "value": 14.99,
                        "cycleCount": 12,
                        "valueType": "Standard",
                        "startCycleDelay": 1
                      }
                    ],
                    "recycleImmediatePayment": false,
                    "currency": 1
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequestDTO"
              },
              "example": {
                "merchantCustomerRefId": null,
                "firstName": "John",
                "lastName": "Doe",
                "email": null,
                "billingAddresses": [
                  {
                    "addressId": null,
                    "addressLine1": "100 Main Street",
                    "addressLine2": "",
                    "city": "Santa Ana",
                    "state": "CA",
                    "postalCode": "90000",
                    "phoneNumber": null,
                    "email": null,
                    "country": "US"
                  }
                ],
                "shippingAddresses": [
                  {
                    "addressId": null,
                    "addressLine1": "101 First Street",
                    "addressLine2": "",
                    "city": "Costa Mesa",
                    "state": "CA",
                    "postalCode": "90001",
                    "phoneNumber": null,
                    "email": null,
                    "country": "US"
                  }
                ],
                "subscriptions": [
                  {
                    "paymentMethods": [
                      {
                        "paymentMethodTypes": [
                          1
                        ],
                        "priority": 0,
                        "taxAmount": null,
                        "originalNetworkTransactionId": null,
                        "billingAddress": {
                          "addressId": null,
                          "addressLine1": "100 Main Street",
                          "addressLine2": "",
                          "city": "Irvine",
                          "state": "CA",
                          "postalCode": "92602",
                          "phoneNumber": null,
                          "email": null,
                          "country": "US"
                        },
                        "creditCard": {
                          "paymentAccountNumber": "4111111111111111",
                          "expirationDate": "1025",
                          "securityCode": null,
                          "networkToken": null,
                          "processingMethodType": 5
                        },
                        "ach": null,
                        "googlePay": null,
                        "applePay": null,
                        "merchantPaymentMethodRefId": null,
                        "billingFirstName": "John",
                        "billingLastName": "Doe",
                        "billingFullName": null
                      }
                    ],
                    "existingPaymentMethod": null,
                    "merchantSubscriptionRefId": "1234-5678-9101",
                    "billingFrequency": {
                      "intervalType": 1,
                      "intervalCount": 1
                    },
                    "subscriptionStatusType": "current",
                    "subscriptionCancelType": "EndOfCycle",
                    "startDate": "2025-09-08T00:00:00Z",
                    "trialDuration": 0,
                    "trialDurationType": 1,
                    "taxAddress": {
                      "addressId": null,
                      "addressLine1": "101 Update Street",
                      "addressLine2": "",
                      "city": "Irvine",
                      "state": "CA",
                      "postalCode": "92602",
                      "phoneNumber": null,
                      "email": null,
                      "country": "US"
                    },
                    "includeRawProcessorResponse": false,
                    "customer": null,
                    "subscriptionBillingPlans": [
                      {
                        "name": "Billing Plan 1",
                        "value": 10.99,
                        "cycleCount": -1,
                        "valueType": "Standard",
                        "startCycleDelay": 0
                      },
                      {
                        "name": "Billing Plan 2",
                        "value": 14.99,
                        "cycleCount": 12,
                        "valueType": "Standard",
                        "startCycleDelay": 1
                      }
                    ],
                    "recycleImmediatePayment": false,
                    "currency": 1
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequestDTO"
              },
              "example": {
                "merchantCustomerRefId": null,
                "firstName": "John",
                "lastName": "Doe",
                "email": null,
                "billingAddresses": [
                  {
                    "addressId": null,
                    "addressLine1": "100 Main Street",
                    "addressLine2": "",
                    "city": "Santa Ana",
                    "state": "CA",
                    "postalCode": "90000",
                    "phoneNumber": null,
                    "email": null,
                    "country": "US"
                  }
                ],
                "shippingAddresses": [
                  {
                    "addressId": null,
                    "addressLine1": "101 First Street",
                    "addressLine2": "",
                    "city": "Costa Mesa",
                    "state": "CA",
                    "postalCode": "90001",
                    "phoneNumber": null,
                    "email": null,
                    "country": "US"
                  }
                ],
                "subscriptions": [
                  {
                    "paymentMethods": [
                      {
                        "paymentMethodTypes": [
                          1
                        ],
                        "priority": 0,
                        "taxAmount": null,
                        "originalNetworkTransactionId": null,
                        "billingAddress": {
                          "addressId": null,
                          "addressLine1": "100 Main Street",
                          "addressLine2": "",
                          "city": "Irvine",
                          "state": "CA",
                          "postalCode": "92602",
                          "phoneNumber": null,
                          "email": null,
                          "country": "US"
                        },
                        "creditCard": {
                          "paymentAccountNumber": "4111111111111111",
                          "expirationDate": "1025",
                          "securityCode": null,
                          "networkToken": null,
                          "processingMethodType": 5
                        },
                        "ach": null,
                        "googlePay": null,
                        "applePay": null,
                        "merchantPaymentMethodRefId": null,
                        "billingFirstName": "John",
                        "billingLastName": "Doe",
                        "billingFullName": null
                      }
                    ],
                    "existingPaymentMethod": null,
                    "merchantSubscriptionRefId": "1234-5678-9101",
                    "billingFrequency": {
                      "intervalType": 1,
                      "intervalCount": 1
                    },
                    "subscriptionStatusType": "current",
                    "subscriptionCancelType": "EndOfCycle",
                    "startDate": "2025-09-08T00:00:00Z",
                    "trialDuration": 0,
                    "trialDurationType": 1,
                    "taxAddress": {
                      "addressId": null,
                      "addressLine1": "101 Update Street",
                      "addressLine2": "",
                      "city": "Irvine",
                      "state": "CA",
                      "postalCode": "92602",
                      "phoneNumber": null,
                      "email": null,
                      "country": "US"
                    },
                    "includeRawProcessorResponse": false,
                    "customer": null,
                    "subscriptionBillingPlans": [
                      {
                        "name": "Billing Plan 1",
                        "value": 10.99,
                        "cycleCount": -1,
                        "valueType": "Standard",
                        "startCycleDelay": 0
                      },
                      {
                        "name": "Billing Plan 2",
                        "value": 14.99,
                        "cycleCount": 12,
                        "valueType": "Standard",
                        "startCycleDelay": 1
                      }
                    ],
                    "recycleImmediatePayment": false,
                    "currency": 1
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequestDTO"
              },
              "example": {
                "merchantCustomerRefId": null,
                "firstName": "John",
                "lastName": "Doe",
                "email": null,
                "billingAddresses": [
                  {
                    "addressId": null,
                    "addressLine1": "100 Main Street",
                    "addressLine2": "",
                    "city": "Santa Ana",
                    "state": "CA",
                    "postalCode": "90000",
                    "phoneNumber": null,
                    "email": null,
                    "country": "US"
                  }
                ],
                "shippingAddresses": [
                  {
                    "addressId": null,
                    "addressLine1": "101 First Street",
                    "addressLine2": "",
                    "city": "Costa Mesa",
                    "state": "CA",
                    "postalCode": "90001",
                    "phoneNumber": null,
                    "email": null,
                    "country": "US"
                  }
                ],
                "subscriptions": [
                  {
                    "paymentMethods": [
                      {
                        "paymentMethodTypes": [
                          1
                        ],
                        "priority": 0,
                        "taxAmount": null,
                        "originalNetworkTransactionId": null,
                        "billingAddress": {
                          "addressId": null,
                          "addressLine1": "100 Main Street",
                          "addressLine2": "",
                          "city": "Irvine",
                          "state": "CA",
                          "postalCode": "92602",
                          "phoneNumber": null,
                          "email": null,
                          "country": "US"
                        },
                        "creditCard": {
                          "paymentAccountNumber": "4111111111111111",
                          "expirationDate": "1025",
                          "securityCode": null,
                          "networkToken": null,
                          "processingMethodType": 5
                        },
                        "ach": null,
                        "googlePay": null,
                        "applePay": null,
                        "merchantPaymentMethodRefId": null,
                        "billingFirstName": "John",
                        "billingLastName": "Doe",
                        "billingFullName": null
                      }
                    ],
                    "existingPaymentMethod": null,
                    "merchantSubscriptionRefId": "1234-5678-9101",
                    "billingFrequency": {
                      "intervalType": 1,
                      "intervalCount": 1
                    },
                    "subscriptionStatusType": "current",
                    "subscriptionCancelType": "EndOfCycle",
                    "startDate": "2025-09-08T00:00:00Z",
                    "trialDuration": 0,
                    "trialDurationType": 1,
                    "taxAddress": {
                      "addressId": null,
                      "addressLine1": "101 Update Street",
                      "addressLine2": "",
                      "city": "Irvine",
                      "state": "CA",
                      "postalCode": "92602",
                      "phoneNumber": null,
                      "email": null,
                      "country": "US"
                    },
                    "includeRawProcessorResponse": false,
                    "customer": null,
                    "subscriptionBillingPlans": [
                      {
                        "name": "Billing Plan 1",
                        "value": 10.99,
                        "cycleCount": -1,
                        "valueType": "Standard",
                        "startCycleDelay": 0
                      },
                      {
                        "name": "Billing Plan 2",
                        "value": 14.99,
                        "cycleCount": 12,
                        "valueType": "Standard",
                        "startCycleDelay": 1
                      }
                    ],
                    "recycleImmediatePayment": false,
                    "currency": 1
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDTO"
                },
                "example": {
                  "customerId": 1,
                  "merchantCustomerRefId": "1234-5678-9101",
                  "firstName": "John",
                  "lastName": "Doe",
                  "billingAddresses": [
                    {
                      "addressId": 1,
                      "addressLine1": "100 Main Street",
                      "addressLine2": null,
                      "city": "Santa Ana",
                      "state": "CA",
                      "postalCode": "90000",
                      "phoneNumber": null,
                      "email": null,
                      "country": "US"
                    }
                  ],
                  "shippingAddresses": [
                    {
                      "addressId": 2,
                      "addressLine1": "101 First Street",
                      "addressLine2": "",
                      "city": "Costa Mesa",
                      "state": "CA",
                      "postalCode": "90001",
                      "phoneNumber": null,
                      "email": null,
                      "country": "US"
                    }
                  ],
                  "taxAddresses": [],
                  "subscriptions": [
                    {
                      "subscriptionId": 1,
                      "customerId": 1,
                      "merchantSubscriptionRefId": "1234-5678-9101",
                      "networkTransactionId": null,
                      "billingIntervalType": "Days",
                      "billingIntervalCount": 1,
                      "subscriptionStatusType": "current",
                      "subscriptionCancelType": null,
                      "initialBillDate": "08-Sep-25",
                      "nextBillDate": "09-Sep-25",
                      "taxAddress": null,
                      "paymentMethodIds": null,
                      "cancelledAt": null,
                      "billingPlans": [
                        {
                          "subscriptionBillingPlanId": 1,
                          "subscriptionId": 0,
                          "name": "Billing Plan 1",
                          "value": 10.99,
                          "startDate": "08-Sep-25",
                          "cyclesRemaining": -1,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        },
                        {
                          "subscriptionBillingPlanId": 2,
                          "subscriptionId": 0,
                          "name": "Billing Plan 2",
                          "value": 14.99,
                          "startDate": "09-Sep-25",
                          "cyclesRemaining": 12,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        }
                      ],
                      "message": null,
                      "paymentProcessor": null,
                      "processorMerchantId": null,
                      "processorRawResponse": null,
                      "currency": null
                    }
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDTO"
                },
                "example": {
                  "customerId": 1,
                  "merchantCustomerRefId": "1234-5678-9101",
                  "firstName": "John",
                  "lastName": "Doe",
                  "billingAddresses": [
                    {
                      "addressId": 1,
                      "addressLine1": "100 Main Street",
                      "addressLine2": null,
                      "city": "Santa Ana",
                      "state": "CA",
                      "postalCode": "90000",
                      "phoneNumber": null,
                      "email": null,
                      "country": "US"
                    }
                  ],
                  "shippingAddresses": [
                    {
                      "addressId": 2,
                      "addressLine1": "101 First Street",
                      "addressLine2": "",
                      "city": "Costa Mesa",
                      "state": "CA",
                      "postalCode": "90001",
                      "phoneNumber": null,
                      "email": null,
                      "country": "US"
                    }
                  ],
                  "taxAddresses": [],
                  "subscriptions": [
                    {
                      "subscriptionId": 1,
                      "customerId": 1,
                      "merchantSubscriptionRefId": "1234-5678-9101",
                      "networkTransactionId": null,
                      "billingIntervalType": "Days",
                      "billingIntervalCount": 1,
                      "subscriptionStatusType": "current",
                      "subscriptionCancelType": null,
                      "initialBillDate": "08-Sep-25",
                      "nextBillDate": "09-Sep-25",
                      "taxAddress": null,
                      "paymentMethodIds": null,
                      "cancelledAt": null,
                      "billingPlans": [
                        {
                          "subscriptionBillingPlanId": 1,
                          "subscriptionId": 0,
                          "name": "Billing Plan 1",
                          "value": 10.99,
                          "startDate": "08-Sep-25",
                          "cyclesRemaining": -1,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        },
                        {
                          "subscriptionBillingPlanId": 2,
                          "subscriptionId": 0,
                          "name": "Billing Plan 2",
                          "value": 14.99,
                          "startDate": "09-Sep-25",
                          "cyclesRemaining": 12,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        }
                      ],
                      "message": null,
                      "paymentProcessor": null,
                      "processorMerchantId": null,
                      "processorRawResponse": null,
                      "currency": null
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDTO"
                },
                "example": {
                  "customerId": 1,
                  "merchantCustomerRefId": "1234-5678-9101",
                  "firstName": "John",
                  "lastName": "Doe",
                  "billingAddresses": [
                    {
                      "addressId": 1,
                      "addressLine1": "100 Main Street",
                      "addressLine2": null,
                      "city": "Santa Ana",
                      "state": "CA",
                      "postalCode": "90000",
                      "phoneNumber": null,
                      "email": null,
                      "country": "US"
                    }
                  ],
                  "shippingAddresses": [
                    {
                      "addressId": 2,
                      "addressLine1": "101 First Street",
                      "addressLine2": "",
                      "city": "Costa Mesa",
                      "state": "CA",
                      "postalCode": "90001",
                      "phoneNumber": null,
                      "email": null,
                      "country": "US"
                    }
                  ],
                  "taxAddresses": [],
                  "subscriptions": [
                    {
                      "subscriptionId": 1,
                      "customerId": 1,
                      "merchantSubscriptionRefId": "1234-5678-9101",
                      "networkTransactionId": null,
                      "billingIntervalType": "Days",
                      "billingIntervalCount": 1,
                      "subscriptionStatusType": "current",
                      "subscriptionCancelType": null,
                      "initialBillDate": "08-Sep-25",
                      "nextBillDate": "09-Sep-25",
                      "taxAddress": null,
                      "paymentMethodIds": null,
                      "cancelledAt": null,
                      "billingPlans": [
                        {
                          "subscriptionBillingPlanId": 1,
                          "subscriptionId": 0,
                          "name": "Billing Plan 1",
                          "value": 10.99,
                          "startDate": "08-Sep-25",
                          "cyclesRemaining": -1,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        },
                        {
                          "subscriptionBillingPlanId": 2,
                          "subscriptionId": 0,
                          "name": "Billing Plan 2",
                          "value": 14.99,
                          "startDate": "09-Sep-25",
                          "cyclesRemaining": 12,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        }
                      ],
                      "message": null,
                      "paymentProcessor": null,
                      "processorMerchantId": null,
                      "processorRawResponse": null,
                      "currency": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "If an invalid field or value is submitted",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to perform the request action with provided data."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to find an entity with the provided data."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to find an entity with the provided data."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Unable to find an entity with the provided data."
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleObjectResult"
                  }
                },
                "example": [
                  {
                    "response": {
                      "customerId": 1,
                      "merchantCustomerRefId": "1234-5678-9101",
                      "firstName": "John",
                      "lastName": "Doe",
                      "billingAddresses": [
                        {
                          "addressId": 1,
                          "addressLine1": "100 Main Street",
                          "addressLine2": "",
                          "city": "Santa Ana",
                          "state": "CA",
                          "postalCode": "90000",
                          "phoneNumber": null,
                          "email": null,
                          "country": "US"
                        }
                      ],
                      "shippingAddresses": [
                        {
                          "addressId": 2,
                          "addressLine1": "101 First Street",
                          "addressLine2": "",
                          "city": "Costa Mesa",
                          "state": "CA",
                          "postalCode": "90001",
                          "phoneNumber": null,
                          "email": null,
                          "country": "US"
                        }
                      ],
                      "taxAddresses": [],
                      "subscriptions": []
                    },
                    "statusCode": 201,
                    "name": "Customer"
                  },
                  {
                    "response": {
                      "subscriptionId": 1,
                      "customerId": 1,
                      "merchantSubscriptionRefId": "1234-5678-9101",
                      "networkTransactionId": null,
                      "billingIntervalType": "Days",
                      "billingIntervalCount": 1,
                      "subscriptionStatusType": "current",
                      "subscriptionCancelType": null,
                      "initialBillDate": "09-Sep-25",
                      "nextBillDate": null,
                      "taxAddress": null,
                      "paymentMethodIds": null,
                      "cancelledAt": null,
                      "billingPlans": [
                        {
                          "subscriptionBillingPlanId": 1,
                          "subscriptionId": 0,
                          "name": "Billing Plan 1",
                          "value": 10.99,
                          "startDate": "08-Sep-25",
                          "cyclesRemaining": -1,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        },
                        {
                          "subscriptionBillingPlanId": 2,
                          "subscriptionId": 0,
                          "name": "Billing Plan 2",
                          "value": 14.99,
                          "startDate": "08-Sep-25",
                          "cyclesRemaining": 12,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        }
                      ],
                      "message": null,
                      "paymentProcessor": null,
                      "processorMerchantId": null,
                      "processorRawResponse": null,
                      "currency": null
                    },
                    "statusCode": 201,
                    "name": "Subscription"
                  },
                  {
                    "response": {
                      "merchantSubscriptionRefId": "1234-5678-9101",
                      "errorMessage": "Subscription creation fail"
                    },
                    "statusCode": 400,
                    "name": "CreateSubscriptionFailure"
                  }
                ]
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleObjectResult"
                  }
                },
                "example": [
                  {
                    "response": {
                      "customerId": 1,
                      "merchantCustomerRefId": "1234-5678-9101",
                      "firstName": "John",
                      "lastName": "Doe",
                      "billingAddresses": [
                        {
                          "addressId": 1,
                          "addressLine1": "100 Main Street",
                          "addressLine2": "",
                          "city": "Santa Ana",
                          "state": "CA",
                          "postalCode": "90000",
                          "phoneNumber": null,
                          "email": null,
                          "country": "US"
                        }
                      ],
                      "shippingAddresses": [
                        {
                          "addressId": 2,
                          "addressLine1": "101 First Street",
                          "addressLine2": "",
                          "city": "Costa Mesa",
                          "state": "CA",
                          "postalCode": "90001",
                          "phoneNumber": null,
                          "email": null,
                          "country": "US"
                        }
                      ],
                      "taxAddresses": [],
                      "subscriptions": []
                    },
                    "statusCode": 201,
                    "name": "Customer"
                  },
                  {
                    "response": {
                      "subscriptionId": 1,
                      "customerId": 1,
                      "merchantSubscriptionRefId": "1234-5678-9101",
                      "networkTransactionId": null,
                      "billingIntervalType": "Days",
                      "billingIntervalCount": 1,
                      "subscriptionStatusType": "current",
                      "subscriptionCancelType": null,
                      "initialBillDate": "09-Sep-25",
                      "nextBillDate": null,
                      "taxAddress": null,
                      "paymentMethodIds": null,
                      "cancelledAt": null,
                      "billingPlans": [
                        {
                          "subscriptionBillingPlanId": 1,
                          "subscriptionId": 0,
                          "name": "Billing Plan 1",
                          "value": 10.99,
                          "startDate": "08-Sep-25",
                          "cyclesRemaining": -1,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        },
                        {
                          "subscriptionBillingPlanId": 2,
                          "subscriptionId": 0,
                          "name": "Billing Plan 2",
                          "value": 14.99,
                          "startDate": "08-Sep-25",
                          "cyclesRemaining": 12,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        }
                      ],
                      "message": null,
                      "paymentProcessor": null,
                      "processorMerchantId": null,
                      "processorRawResponse": null,
                      "currency": null
                    },
                    "statusCode": 201,
                    "name": "Subscription"
                  },
                  {
                    "response": {
                      "merchantSubscriptionRefId": "1234-5678-9101",
                      "errorMessage": "Subscription creation fail"
                    },
                    "statusCode": 400,
                    "name": "CreateSubscriptionFailure"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleObjectResult"
                  }
                },
                "example": [
                  {
                    "response": {
                      "customerId": 1,
                      "merchantCustomerRefId": "1234-5678-9101",
                      "firstName": "John",
                      "lastName": "Doe",
                      "billingAddresses": [
                        {
                          "addressId": 1,
                          "addressLine1": "100 Main Street",
                          "addressLine2": "",
                          "city": "Santa Ana",
                          "state": "CA",
                          "postalCode": "90000",
                          "phoneNumber": null,
                          "email": null,
                          "country": "US"
                        }
                      ],
                      "shippingAddresses": [
                        {
                          "addressId": 2,
                          "addressLine1": "101 First Street",
                          "addressLine2": "",
                          "city": "Costa Mesa",
                          "state": "CA",
                          "postalCode": "90001",
                          "phoneNumber": null,
                          "email": null,
                          "country": "US"
                        }
                      ],
                      "taxAddresses": [],
                      "subscriptions": []
                    },
                    "statusCode": 201,
                    "name": "Customer"
                  },
                  {
                    "response": {
                      "subscriptionId": 1,
                      "customerId": 1,
                      "merchantSubscriptionRefId": "1234-5678-9101",
                      "networkTransactionId": null,
                      "billingIntervalType": "Days",
                      "billingIntervalCount": 1,
                      "subscriptionStatusType": "current",
                      "subscriptionCancelType": null,
                      "initialBillDate": "09-Sep-25",
                      "nextBillDate": null,
                      "taxAddress": null,
                      "paymentMethodIds": null,
                      "cancelledAt": null,
                      "billingPlans": [
                        {
                          "subscriptionBillingPlanId": 1,
                          "subscriptionId": 0,
                          "name": "Billing Plan 1",
                          "value": 10.99,
                          "startDate": "08-Sep-25",
                          "cyclesRemaining": -1,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        },
                        {
                          "subscriptionBillingPlanId": 2,
                          "subscriptionId": 0,
                          "name": "Billing Plan 2",
                          "value": 14.99,
                          "startDate": "08-Sep-25",
                          "cyclesRemaining": 12,
                          "cycleCount": 0,
                          "valueType": "Standard"
                        }
                      ],
                      "message": null,
                      "paymentProcessor": null,
                      "processorMerchantId": null,
                      "processorRawResponse": null,
                      "currency": null
                    },
                    "statusCode": 201,
                    "name": "Subscription"
                  },
                  {
                    "response": {
                      "merchantSubscriptionRefId": "1234-5678-9101",
                      "errorMessage": "Subscription creation fail"
                    },
                    "statusCode": 400,
                    "name": "CreateSubscriptionFailure"
                  }
                ]
              }
            }
          }
        },
        "description": "<div><p></p><p>Create a customer for a merchant with a first name, last name, and optional merchant customer reference ID.</p><p>Upon success, a status code of 201 (Created) will be returned. If a customer cannot be created with the provided data, a status code of 400 (Bad Request) will be returned.</p><p>Additionally, subscriptions can be created simultaneously with the customer. If there are one of more subscription failed during the creation, a status code of 207 (Multi-Status) will be returned. A 207 status code response is an array of success (201) and failure (400) responses. The response field can be either Customer (Create Customer 201 response), Subscription (Create Subscription 201 response) or CreateSubscriptionFailure type. CreateSubscriptionFailure response type has a MerchantSubscriptionRefId field for the failure subscription, and an ErrorMessage field for the error description. For a sample of each response type, refer to the 207 response sample below.</p><p>For additional details on how to create subscriptions, refer to the specifications at Create Subscription.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>FirstName</td><td>Customer's first name</td></tr><tr><td>LastName</td><td>Customer's last name</td></tr></tbody></table></div></div><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>MerchantCustomerRefId</td><td>Merchant's identifier for the customer</td><td>null</td></tr><tr><td>BillingAddresses</td><td>Customer's associated address(es) for billing purposes. A required set of Address details: AddressLine1, City and State or AddressLine1 and PostalCode or State and PostalCode</td><td>[]</td></tr><tr><td>ShippingAddresses</td><td>Customer's associated address(es) for shipping purposes</td><td>[]</td></tr></tbody></table></div></div></div></div></div>"
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get Customers",
        "parameters": [
          {
            "name": "merchantCustomerRefId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "firstName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetCustomersQueryResultDTO"
                  }
                },
                "example": [
                  {
                    "customerId": 1,
                    "merchantCustomerRefId": "1234-5678-9101",
                    "firstName": "John",
                    "lastName": "Doe"
                  },
                  {
                    "customerId": 2,
                    "merchantCustomerRefId": "5678-1234-9101",
                    "firstName": "Jane",
                    "lastName": "Doe"
                  },
                  {
                    "customerId": 3,
                    "merchantCustomerRefId": "9101-5678-1234",
                    "firstName": "Jeremy",
                    "lastName": "Doe"
                  }
                ]
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetCustomersQueryResultDTO"
                  }
                },
                "example": [
                  {
                    "customerId": 1,
                    "merchantCustomerRefId": "1234-5678-9101",
                    "firstName": "John",
                    "lastName": "Doe"
                  },
                  {
                    "customerId": 2,
                    "merchantCustomerRefId": "5678-1234-9101",
                    "firstName": "Jane",
                    "lastName": "Doe"
                  },
                  {
                    "customerId": 3,
                    "merchantCustomerRefId": "9101-5678-1234",
                    "firstName": "Jeremy",
                    "lastName": "Doe"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetCustomersQueryResultDTO"
                  }
                },
                "example": [
                  {
                    "customerId": 1,
                    "merchantCustomerRefId": "1234-5678-9101",
                    "firstName": "John",
                    "lastName": "Doe"
                  },
                  {
                    "customerId": 2,
                    "merchantCustomerRefId": "5678-1234-9101",
                    "firstName": "Jane",
                    "lastName": "Doe"
                  },
                  {
                    "customerId": 3,
                    "merchantCustomerRefId": "9101-5678-1234",
                    "firstName": "Jeremy",
                    "lastName": "Doe"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusMessageResponse"
                },
                "example": {
                  "message": "Attempted to perform an unauthorized operation."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
[...]
