{
  "x-generator": "NSwag v14.0.7.0 (NJsonSchema v11.0.0.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Revolv3 OpenApi Spec",
    "description": "Spec for Revolv3",
    "version": "1.15.0"
  },
  "host": "api.revolv3.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "text/plain",
    "application/json",
    "text/json"
  ],
  "paths": {
    "/api/account-verification/ach/person": {
      "post": {
        "tags": [
          "AccountVerification"
        ],
        "summary": "Validate person account",
        "description": "<div><p></p><p>The purpose of this service is to provide merchants with a streamlined and secure method to verify their customers' ACH (Automated Clearing House) accounts.</p><p></p><p>Upon success, this operation returns a status of 200 (OK).</p><p></p><p>If an invalid field or value is submitted, a status of 400 (Bad Request) will be returned.</p><p></p><p>If the account number is not approved, a status code of 400 will be returned with error code and message.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>Address</td><td>Address at which the customer should be billed. A required set of Address details: AddressLine1, City and State or AddressLine1 and PostalCode or State and PostalCode</td></tr><tr><td>Ach</td><td>Object structure according to the ach payment method type: routingNumber, accountNumber, accountType</td></tr><tr><td>FirstName</td><td>Customer's first name</td></tr><tr><td>LastName</td><td>Customer's last name</td></tr></tbody></table></div></div><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>CompanyName</td><td>Company Name</td><td>null</td></tr></tbody></table></div></div></div></div></div>",
        "operationId": "AccountVerification_VerifyPersonalAccount",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "example": {
                "Amount": null,
                "FirstName": "Joe",
                "LastName": "Doe",
                "CompanyName": null,
                "Address": {
                  "AddressId": null,
                  "AddressLine1": "26 River Street",
                  "AddressLine2": "",
                  "City": "Cambridge",
                  "State": "MA",
                  "PostalCode": "02125",
                  "PhoneNumber": "123-456-789",
                  "Email": null,
                  "Country": "US"
                },
                "Ach": {
                  "RoutingNumber": "123456789",
                  "AccountNumber": "123456789",
                  "AccountType": "Checking"
                }
              },
              "allOf": [
                {
                  "$ref": "#/definitions/AchPaymentAccountVerificationDto"
                }
              ]
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "IsVerified": true,
                "Message": "Approved",
                "ResponseCode": "000"
              },
              "allOf": [
                {
                  "$ref": "#/definitions/VerifyAchAccountResponse"
                }
              ]
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/StatusMessageResponse"
            }
          }
        }
      }
    },
    "/api/account-verification/ach/corporate": {
      "post": {
        "tags": [
          "AccountVerification"
        ],
        "summary": "Validate corporate account",
        "description": "<div><p></p><p>The purpose of this service is to provide merchants with a streamlined and secure method to verify their customers' ACH (Automated Clearing House) accounts.</p><p></p><p>Upon success, this operation returns a status of 200 (OK).</p><p></p><p>If an invalid field or value is submitted, a status of 400 (Bad Request) will be returned.</p><p></p><p>If the account number is not approved, a status code of 400 will be returned with error code and message.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>Address</td><td>Address at which the customer should be billed. A required set of Address details: AddressLine1, City and State or AddressLine1 and PostalCode or State and PostalCode</td></tr><tr><td>Ach</td><td>Object structure according to the ach payment method type: routingNumber, accountNumber, accountType</td></tr><tr><td>CompanyName</td><td>Company Name</td></tr></tbody></table></div></div><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>FirstName</td><td>Customer's first name</td><td></td></tr><tr><td>LastName</td><td>Customer's last name</td><td></td></tr></tbody></table></div></div></div></div></div>",
        "operationId": "AccountVerification_VerifyCorporateAccount",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "example": {
                "Amount": null,
                "FirstName": null,
                "LastName": null,
                "CompanyName": "Company Inc.",
                "Address": {
                  "AddressId": null,
                  "AddressLine1": "26 River Street",
                  "AddressLine2": "",
                  "City": "Cambridge",
                  "State": "MA",
                  "PostalCode": "02125",
                  "PhoneNumber": "123-456-789",
                  "Email": null,
                  "Country": "US"
                },
                "Ach": {
                  "RoutingNumber": "123456789",
                  "AccountNumber": "123456789",
                  "AccountType": "Checking"
                }
              },
              "allOf": [
                {
                  "$ref": "#/definitions/AchPaymentAccountVerificationDto"
                }
              ]
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "IsVerified": true,
                "Message": "Approved",
                "ResponseCode": "000"
              },
              "allOf": [
                {
                  "$ref": "#/definitions/VerifyAchAccountResponse"
                }
              ]
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/StatusMessageResponse"
            }
          }
        }
      }
    },
    "/api/Authentication/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get Merchant Access Token",
        "description": "<div><p></p><p>For production access to the API, merchants will need an access token.</p><p></p><p>The access tokens are retrieved by sending the merchant client identifier and the merchant secret which can be generated in the Merchant Settings Profile page.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>ClientId</td><td>Client's unique identifier</td></tr><tr><td>ClientSecret</td><td>Client's unique secret API key</td></tr></tbody></table></div></div></div></div></div>",
        "operationId": "Authentication_GetToken",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "example": {
                "ClientId": "clientIdentifier",
                "ClientSecret": "clientSecret"
              },
              "allOf": [
                {
                  "$ref": "#/definitions/GetAzureAdTokenRequestDTO"
                }
              ]
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "token_type": "Bearer",
                "expires_in": 3599,
                "ext_expires_in": 3599,
                "access_token": "thisisagianttokenhash1NiIsImtpZCI6IlNzWnNCTmhaY0YzUTlTNHRycFFCVEJ5TlthisisagianttokenhashTQ0MTMiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vZjAyMzQ1MDEtMjdkZC00NTY1LWI1NDUtNDBlZDFmZjNjZDU1L3YyLjAiLCJpYXQiOjE1OTEyODthisisagianttokenhashhwIjoxNTkxMjkzODYzLCJhaW8iOiI0MmRnWURBTDhGTU5iNUgwOGF4thisisagianttokenhashYmExN2VkLTExMGMtNDVmthisisagianttokenhashmF6cGFjciI6IjEiLCJ0aWQiOiJmMDIzNDUwMS0yN2RkLTQ1NjUtYjU0NS00MGVkMWZmM2NkNTUiLCJ1dGkiOiJWOEhIbXVfZ1RVZUZQQ0pKNF91b0FBIiwidmVyIjoiMi4wIn0.rrQVOMQ2M3xhBeA96fOeidrghJep_DEC0-y-WTlsZu37rO18FgTBAp-tNeMasrLZlEcP6O2Ij8OqxY8yqxmIaPoaXpH9f8DN6nkthisisagianttokenhashlCDGp6zUdEb0XDA2-JXbSbs918g9DPBjuTDio1-Cithisisagianttokenhash8C4-H1XZfRN4Z7IMthisisagianttokenhashxp8lqK66NrXI2RtihtBs6gI3GKpfhok-H6_NvUaQQthisisagianttokenhashOHlKrKQ6D2fUIcXg"
              },
              "allOf": [
                {
                  "$ref": "#/definitions/TokenResponse"
                }
              ]
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "error": "ClientId is a required field.",
                "error_description": "One or more errors are present in the request."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/TokenErrorResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "error": "invalid_client",
                "error_description": "AADSTS7000215: Invalid client secret is provided.\r\nTrace ID: f85a8c1e-TraceId-581098fdac00\r\nCorrelation ID: dc8bb9f6-CorrelationId-d223c30e8f6c\r\nTimestamp: 2020-06-04 17:02:39Z",
                "error_codes": [
                  7000215
                ],
                "timestamp": "2020-06-04 17:02:39Z",
                "trace_id": "f85a8c1e-TraceId-581098fdac00",
                "correlation_id": "dc8bb9f6-CorrelationId-d223c30e8f6c",
                "error_uri": "https://login.microsoftonline.com/error?code=7000215"
              },
              "allOf": [
                {
                  "$ref": "#/definitions/TokenErrorResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Checkout": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "Create Checkout Link",
        "description": "<div><p></p><p>Create a URL for a checkout page to accept payments. </p><p></p><p>This URL can be seamlessly integrated into your payment flow, embedded into your payment page, or used to direct customers to a hosted payment page. The link will be deactivated once the customer opens the checkout page.</p><p></p><p>The required arguments for this endpoint are checkout line items. Optionally, you can provide a return URL to redirect the customer to a specific webpage after the payment is completed.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>CheckoutSubscription</td><td>Information for creating a checkout subscription</td></tr><tr><td>BillingFrequencyType</td><td>How often the subscription should be attempted for billing</td></tr><tr><td>SubscriptionBillingPlans</td><td>The subscription's individual billing items</td></tr><tr><td>BillingPlanName</td><td>The subscription's primary payment information</td></tr><tr><td>BillingPlanValue</td><td>Value for which the billing plan should be executed for</td></tr></tbody></table></div></div><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>CustomerId</td><td>Customer's unique identifier</td><td>null</td></tr><tr><td>MerchantCustomerRefId</td><td>Merchant's identifier for the customer</td><td>null</td></tr><tr><td>MerchantSubscriptionRefId</td><td>Merchant's unique identifier for the subscription</td><td>null</td></tr><tr><td>SubscriptionCancelType</td><td>The circumstances under which a subscription must be cancelled (e.g. Immediate or EndOfCycle)</td><td></td></tr><tr><td>TrialDuration</td><td>The amount of trial duration time in the unit of TrialDurationType</td><td>0</td></tr><tr><td>TrialDurationType</td><td>The type of trial duration</td><td>Daily</td></tr><tr><td>BillingPlanCycleCount</td><td>The number of times the billing plan should be billed before expiration</td><td>-1</td></tr><tr><td>BillingPlanValueType</td><td>A qualifier for how the value should be interpreted (e.g. standard, discount, discountPercentage, finalDiscount, or priceOverride)</td><td>Standard</td></tr><tr><td>BillingPlanStartCycleDelay</td><td>Amount of subscription cycle to delay the start date of the billing plan</td><td>0</td></tr></tbody></table></div></div></div></div></div>",
        "operationId": "Checkout_CreateCheckoutLink",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "example": {
                "ReturnUrl": "https%3A%2F%2Fsite.com",
                "OneTimePayment": {
                  "CheckoutLineItems": [
                    {
                      "Name": "Item 1",
                      "Description": null,
                      "Value": 9.99,
                      "ValueType": "Standard"
                    },
                    {
                      "Name": "Item 2",
                      "Description": null,
                      "Value": 21.99,
                      "ValueType": "Standard"
                    }
                  ]
                }
              },
              "allOf": [
                {
                  "$ref": "#/definitions/CreateCheckoutLinkRequestDto"
                }
              ]
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateCheckoutLinkResponseDto"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Checkout/{checkoutUid}": {
      "get": {
        "tags": [
          "Checkout"
        ],
        "summary": "Get Complete Checkout Information",
        "description": "<div><p></p><p>Retrieve a complete checkout information (specified with Checkout ID) with a status code of 200 (OK).</p><p>If the checkout ID cannot be associated with a checkout, a status code of 404 will be returned.</p></div>",
        "operationId": "Checkout_GetCompleteCheckoutInformation",
        "parameters": [
          {
            "type": "string",
            "name": "checkoutUid",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "CheckoutId": "12345678-ABCD-1234-EFGH-987654321000",
                "CheckoutStatus": "Pending",
                "ReturnUrl": "https://mysite.com/order/12345678",
                "CompletionDate": null,
                "Customer": {
                  "CustomerId": 328,
                  "FirstName": "Joe",
                  "LastName": "Doe",
                  "Email": "aa@aa.com"
                },
                "Invoice": {
                  "InvoiceId": 8786,
                  "InvoiceStatus": "Paid",
                  "Total": 10.0,
                  "BillingDate": "2024-11-15T16:19:48.6745743+01:00",
                  "PaymentMethod": {
                    "PaymentMethodId": 0,
                    "BillingAddress": {
                      "AddressId": 4232,
                      "AddressLine1": "20 Bitterwater Street",
                      "AddressLine2": null,
                      "City": "King City",
                      "State": "CA",
                      "PostalCode": "11111",
                      "PhoneNumber": "43823527092",
                      "Email": "aa@aa.com",
                      "Country": "US"
                    },
                    "BillingFirstName": "Joe",
                    "BillingLastName": "Doe",
                    "Type": null,
                    "AchDetails": null,
                    "CreditCardDetails": {
                      "Last4Digit": "1111",
                      "ExpirationDate": "11/11"
                    }
                  },
                  "InvoiceAttempts": null
                },
                "CheckoutLineItems": [
                  {
                    "Name": "Checkout Line Item Name",
                    "Description": "Checkout Line Item Description",
                    "Value": 10.0,
                    "ValueType": "Standard"
                  }
                ]
              },
              "allOf": [
                {
                  "$ref": "#/definitions/GetCompleteCheckoutInformationResponseDto"
                }
              ]
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create Customer",
        "description": "<div><p></p><p>Create a customer for a merchant with a first name, last name, and optional merchant customer reference ID.</p><p>Upon success, a status code of 201 (Created) will be returned. If a customer cannot be created with the provided data, a status code of 400 (Bad Request) will be returned.</p><p>Additionally, subscriptions can be created simultaneously with the customer. If there are one of more subscription failed during the creation, a status code of 207 (Multi-Status) will be returned. A 207 status code response is an array of success (201) and failure (400) responses. The response field can be either Customer (Create Customer 201 response), Subscription (Create Subscription 201 response) or CreateSubscriptionFailure type. CreateSubscriptionFailure response type has a MerchantSubscriptionRefId field for the failure subscription, and an ErrorMessage field for the error description. For a sample of each response type, refer to the 207 response sample below.</p><p>For additional details on how to create subscriptions, refer to the specifications at Create Subscription.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>FirstName</td><td>Customer's first name</td></tr><tr><td>LastName</td><td>Customer's last name</td></tr></tbody></table></div></div><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>MerchantCustomerRefId</td><td>Merchant's identifier for the customer</td><td>null</td></tr><tr><td>BillingAddresses</td><td>Customer's associated address(es) for billing purposes. A required set of Address details: AddressLine1, City and State or AddressLine1 and PostalCode or State and PostalCode</td><td>[]</td></tr><tr><td>ShippingAddresses</td><td>Customer's associated address(es) for shipping purposes</td><td>[]</td></tr></tbody></table></div></div></div></div></div>",
        "operationId": "Customers_CreateCustomer",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "example": {
                "MerchantCustomerRefId": null,
                "FirstName": "John",
                "LastName": "Doe",
                "Email": null,
                "BillingAddresses": [
                  {
                    "AddressId": null,
                    "AddressLine1": "100 Main Street",
                    "AddressLine2": "",
                    "City": "Santa Ana",
                    "State": "CA",
                    "PostalCode": "90000",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  }
                ],
                "ShippingAddresses": [
                  {
                    "AddressId": null,
                    "AddressLine1": "101 First Street",
                    "AddressLine2": "",
                    "City": "Costa Mesa",
                    "State": "CA",
                    "PostalCode": "90001",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  }
                ],
                "Subscriptions": [
                  {
                    "PaymentMethods": [
                      {
                        "Priority": 0,
                        "TaxAmount": null,
                        "OriginalNetworkTransactionId": null,
                        "BillingAddress": {
                          "AddressId": null,
                          "AddressLine1": "100 Main Street",
                          "AddressLine2": "",
                          "City": "Irvine",
                          "State": "CA",
                          "PostalCode": "92602",
                          "PhoneNumber": null,
                          "Email": null,
                          "Country": "US"
                        },
                        "BillingFirstName": "John",
                        "BillingLastName": "Doe",
                        "CreditCard": {
                          "PaymentAccountNumber": "4111111111111111",
                          "ExpirationDate": "1025",
                          "SecurityCode": null
                        },
                        "Ach": null,
                        "GooglePay": null,
                        "MerchantPaymentMethodRefId": null
                      }
                    ],
                    "ExistingPaymentMethod": null,
                    "MerchantSubscriptionRefId": "1234-5678-9101",
                    "BillingFrequencyType": "daily",
                    "SubscriptionStatusType": "current",
                    "SubscriptionCancelType": "EndOfCycle",
                    "StartDate": "2024-11-15T00:00:00",
                    "TrialDuration": 0,
                    "TrialDurationType": "daily",
                    "TaxAddress": {
                      "AddressId": null,
                      "AddressLine1": "101 Update Street",
                      "AddressLine2": "",
                      "City": "Irvine",
                      "State": "CA",
                      "PostalCode": "92602",
                      "PhoneNumber": null,
                      "Email": null,
                      "Country": "US"
                    },
                    "IncludeRawProcessorResponse": false,
                    "Customer": null,
                    "SubscriptionBillingPlans": [
                      {
                        "Name": "Billing Plan 1",
                        "Value": 10.99,
                        "CycleCount": -1,
                        "ValueType": "Standard",
                        "StartCycleDelay": 0
                      },
                      {
                        "Name": "Billing Plan 2",
                        "Value": 14.99,
                        "CycleCount": 12,
                        "ValueType": "Standard",
                        "StartCycleDelay": 1
                      }
                    ],
                    "RecycleImmediatePayment": false
                  }
                ]
              },
              "allOf": [
                {
                  "$ref": "#/definitions/CreateCustomerRequestDTO"
                }
              ]
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "CustomerId": 1,
                "MerchantCustomerRefId": "1234-5678-9101",
                "FirstName": "John",
                "LastName": "Doe",
                "BillingAddresses": [
                  {
                    "AddressId": 1,
                    "AddressLine1": "100 Main Street",
                    "AddressLine2": "",
                    "City": "Santa Ana",
                    "State": "CA",
                    "PostalCode": "90000",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  }
                ],
                "ShippingAddresses": [
                  {
                    "AddressId": 2,
                    "AddressLine1": "101 First Street",
                    "AddressLine2": "",
                    "City": "Costa Mesa",
                    "State": "CA",
                    "PostalCode": "90001",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  }
                ],
                "Subscriptions": [
                  {
                    "SubscriptionId": 1,
                    "CustomerId": 1,
                    "MerchantSubscriptionRefId": "1234-5678-9101",
                    "NetworkTransactionId": null,
                    "BillingFrequencyType": "daily",
                    "SubscriptionStatusType": "current",
                    "SubscriptionCancelType": null,
                    "InitialBillDate": "15-Nov-24",
                    "NextBillDate": "16-Nov-24",
                    "TaxAddress": null,
                    "PaymentMethodIds": null,
                    "CancelledAt": null,
                    "BillingPlans": [
                      {
                        "SubscriptionBillingPlanId": 1,
                        "SubscriptionId": 0,
                        "Name": "Billing Plan 1",
                        "Value": 10.99,
                        "StartDate": "15-Nov-24",
                        "CyclesRemaining": -1,
                        "CycleCount": 0,
                        "ValueType": "Standard"
                      },
                      {
                        "SubscriptionBillingPlanId": 2,
                        "SubscriptionId": 0,
                        "Name": "Billing Plan 2",
                        "Value": 14.99,
                        "StartDate": "16-Nov-24",
                        "CyclesRemaining": 12,
                        "CycleCount": 0,
                        "ValueType": "Standard"
                      }
                    ],
                    "Message": null,
                    "ProcessorRawResponse": null
                  }
                ]
              },
              "allOf": [
                {
                  "$ref": "#/definitions/CustomerDTO"
                }
              ]
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "No address found for AddressId 1."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "207": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "example": [
                {
                  "Response": {
                    "CustomerId": 1,
                    "MerchantCustomerRefId": "1234-5678-9101",
                    "FirstName": "John",
                    "LastName": "Doe",
                    "BillingAddresses": [
                      {
                        "AddressId": 1,
                        "AddressLine1": "100 Main Street",
                        "AddressLine2": "",
                        "City": "Santa Ana",
                        "State": "CA",
                        "PostalCode": "90000",
                        "PhoneNumber": null,
                        "Email": null,
                        "Country": "US"
                      }
                    ],
                    "ShippingAddresses": [
                      {
                        "AddressId": 2,
                        "AddressLine1": "101 First Street",
                        "AddressLine2": "",
                        "City": "Costa Mesa",
                        "State": "CA",
                        "PostalCode": "90001",
                        "PhoneNumber": null,
                        "Email": null,
                        "Country": "US"
                      }
                    ]
                  },
                  "StatusCode": 201,
                  "Name": "Customer"
                },
                {
                  "Response": {
                    "SubscriptionId": 1,
                    "CustomerId": 1,
                    "MerchantSubscriptionRefId": "1234-5678-9101",
                    "NetworkTransactionId": null,
                    "BillingFrequencyType": "daily",
                    "SubscriptionStatusType": "current",
                    "SubscriptionCancelType": null,
                    "InitialBillDate": "16-Nov-24",
                    "NextBillDate": null,
                    "TaxAddress": null,
                    "PaymentMethodIds": null,
                    "CancelledAt": null,
                    "BillingPlans": [
                      {
                        "SubscriptionBillingPlanId": 1,
                        "SubscriptionId": 0,
                        "Name": "Billing Plan 1",
                        "Value": 10.99,
                        "StartDate": "15-Nov-24",
                        "CyclesRemaining": -1,
                        "CycleCount": 0,
                        "ValueType": "Standard"
                      },
                      {
                        "SubscriptionBillingPlanId": 2,
                        "SubscriptionId": 0,
                        "Name": "Billing Plan 2",
                        "Value": 14.99,
                        "StartDate": "15-Nov-24",
                        "CyclesRemaining": 12,
                        "CycleCount": 0,
                        "ValueType": "Standard"
                      }
                    ],
                    "Message": null,
                    "ProcessorRawResponse": null
                  },
                  "StatusCode": 201,
                  "Name": "Subscription"
                },
                {
                  "Response": {
                    "MerchantSubscriptionRefId": "1234-5678-9101",
                    "ErrorMessage": "Subscription creation fail"
                  },
                  "StatusCode": 400,
                  "Name": "CreateSubscriptionFailure"
                }
              ],
              "items": {
                "$ref": "#/definitions/SimpleObjectResult"
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get Customers",
        "description": "<div><p></p><p>Search for a customer given a Merchant Customer Ref ID, first name, or last name.</p><p>If no customer with the provided Merchant Customer Ref ID, first name, or last name is found, a status of 404 (Not Found) will be returned.</p></div>",
        "operationId": "Customers_GetCustomers",
        "parameters": [
          {
            "type": "string",
            "name": "merchantCustomerRefId",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "firstName",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "lastName",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "example": [
                {
                  "CustomerId": 1,
                  "MerchantCustomerRefId": "1234-5678-9101",
                  "FirstName": "John",
                  "LastName": "Doe"
                },
                {
                  "CustomerId": 2,
                  "MerchantCustomerRefId": "5678-1234-9101",
                  "FirstName": "Jane",
                  "LastName": "Doe"
                },
                {
                  "CustomerId": 3,
                  "MerchantCustomerRefId": "9101-5678-1234",
                  "FirstName": "Jeremy",
                  "LastName": "Doe"
                }
              ],
              "items": {
                "$ref": "#/definitions/GetCustomersQueryResultDTO"
              }
            }
          },
          "404": {
            "description": ""
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Customers/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get Customer",
        "description": "<div><p></p><p>Retrieve information for a single customer by their Customer ID.</p><p>If no customer with the provided Customer ID is found, a status of 404 (Not Found) will be returned.</p></div>",
        "operationId": "Customers_GetCustomer",
        "parameters": [
          {
            "type": "integer",
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "CustomerId": 1,
                "MerchantCustomerRefId": "1234-5678-9101",
                "FirstName": "John",
                "LastName": "Doe",
                "BillingAddresses": [
                  {
                    "AddressId": 1,
                    "AddressLine1": "100 Main Street",
                    "AddressLine2": "",
                    "City": "Santa Ana",
                    "State": "CA",
                    "PostalCode": "90000",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  }
                ],
                "ShippingAddresses": [
                  {
                    "AddressId": 2,
                    "AddressLine1": "101 First Street",
                    "AddressLine2": "",
                    "City": "Costa Mesa",
                    "State": "CA",
                    "PostalCode": "90001",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  }
                ]
              },
              "allOf": [
                {
                  "$ref": "#/definitions/CustomerDTO"
                }
              ]
            }
          },
          "404": {
            "description": ""
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete Customer",
        "description": "<div><p></p><p>Delete a customer by their Customer ID.</p><p></p><p>If no customer with the provided Customer ID is found, a status of 404 (Not Found) will be returned.</p></div>",
        "operationId": "Customers_DeleteCustomer",
        "parameters": [
          {
            "type": "integer",
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to find a customer with the provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update Customer",
        "description": "<div><p></p><p>Update a customer by their Customer ID.</p><p></p><p>This action currently accepts any number of the following fields: Merchant Customer Ref ID, first name, and last name.</p><p></p><p>Only fields present in the request will be updated.</p><p></p><p>Upon successful update, a status code of 200 (Success) will be returned.</p><p></p><p>If no existing customer with the provided Customer ID is found, a status of 404 (Not Found) will be returned.</p><p></p><p>If an invalid field or value is submitted, a status of 400 (Bad Request) will be returned.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>MerchantCustomerRefId</td><td>Merchant's identifier for the customer</td><td></td></tr><tr><td>FirstName</td><td>Customer's first name</td><td></td></tr><tr><td>LastName</td><td>Customer's last name</td><td></td></tr></tbody></table></div></div></div></div></div>",
        "operationId": "Customers_UpdateCustomer",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "example": {
                "MerchantCustomerRefId": "1234-5678-9101",
                "FirstName": "Jonathan",
                "LastName": null
              },
              "allOf": [
                {
                  "$ref": "#/definitions/UpdateCustomerRequestDTO"
                }
              ]
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "CustomerId": 1,
                "MerchantCustomerRefId": "1234-5678-9101",
                "FirstName": "Jonathan",
                "LastName": "Doe",
                "BillingAddresses": [
                  {
                    "AddressId": 1,
                    "AddressLine1": "100 Main Street",
                    "AddressLine2": "",
                    "City": "Santa Ana",
                    "State": "CA",
                    "PostalCode": "90000",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  }
                ],
                "ShippingAddresses": [
                  {
                    "AddressId": 2,
                    "AddressLine1": "101 First Street",
                    "AddressLine2": "",
                    "City": "Costa Mesa",
                    "State": "CA",
                    "PostalCode": "90001",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  }
                ]
              },
              "allOf": [
                {
                  "$ref": "#/definitions/CustomerDTO"
                }
              ]
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to find a customer with the provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Customers/{customerId}/subscriptions": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get Subscriptions by Customer",
        "description": "<div><p></p><p>Retrieve subscriptions for a customer (specified by Customer ID) with a status code of 200 (OK).</p><p></p><p>If no subscriptions exist for the customer, a status code of 204 (No Content) will be returned.</p><p></p><p>If the Customer ID cannot be associated with an active customer, a status code of 404 will be returned.</p></div>",
        "operationId": "Customers_GetSubscriptions",
        "parameters": [
          {
            "type": "integer",
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "example": [
                {
                  "SubscriptionId": 1,
                  "CustomerId": 3,
                  "MerchantSubscriptionRefId": null,
                  "NetworkTransactionId": null,
                  "BillingFrequencyType": "daily",
                  "SubscriptionStatusType": "current",
                  "SubscriptionCancelType": null,
                  "InitialBillDate": "15-Nov-24",
                  "NextBillDate": "16-Nov-24",
                  "TaxAddress": {
                    "AddressId": 0,
                    "AddressLine1": "101 Update Street",
                    "AddressLine2": "",
                    "City": "Irvine",
                    "State": "CA",
                    "PostalCode": "92602",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  },
                  "PaymentMethodIds": [
                    1
                  ],
                  "CancelledAt": null,
                  "BillingPlans": [
                    {
                      "SubscriptionBillingPlanId": 1,
                      "SubscriptionId": 0,
                      "Name": "Billing Plan 1",
                      "Value": 10.99,
                      "StartDate": "15-Nov-24",
                      "CyclesRemaining": -1,
                      "CycleCount": 0,
                      "ValueType": "Standard"
                    },
                    {
                      "SubscriptionBillingPlanId": 2,
                      "SubscriptionId": 0,
                      "Name": "Billing Plan 2",
                      "Value": 14.99,
                      "StartDate": "15-Nov-24",
                      "CyclesRemaining": 12,
                      "CycleCount": 0,
                      "ValueType": "Standard"
                    }
                  ],
                  "Message": null,
                  "ProcessorRawResponse": null
                },
                {
                  "SubscriptionId": 2,
                  "CustomerId": 3,
                  "MerchantSubscriptionRefId": null,
                  "NetworkTransactionId": null,
                  "BillingFrequencyType": "monthly",
                  "SubscriptionStatusType": "recycled",
                  "SubscriptionCancelType": null,
                  "InitialBillDate": "15-Nov-24",
                  "NextBillDate": "16-Nov-24",
                  "TaxAddress": null,
                  "PaymentMethodIds": null,
                  "CancelledAt": null,
                  "BillingPlans": null,
                  "Message": null,
                  "ProcessorRawResponse": null
                }
              ],
              "items": {
                "$ref": "#/definitions/SubscriptionDTO"
              }
            }
          },
          "204": {
            "description": ""
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to find a customer with the provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Customers/{customerId}/address/{addressId}": {
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete Customer Address",
        "description": "<div><p></p><p>Delete an associated address for a given Customer ID.</p><p></p><p>Upon a successful delete, the operation returns the updated Customer object.</p><p></p><p>If no existing customer with the provided Customer ID is found, a status of 404 (Not Found) will be returned.</p></div>",
        "operationId": "Customers_DeleteCustomerAddress",
        "parameters": [
          {
            "type": "integer",
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "addressId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the address",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "CustomerId": 1,
                "MerchantCustomerRefId": "1234-5678-9101",
                "FirstName": "John",
                "LastName": "Doe"
              },
              "allOf": [
                {
                  "$ref": "#/definitions/CustomerDTO"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to find a customer with the provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update Address",
        "description": "<div><p></p><p>Update an address for a given Customer ID and Address ID.</p><p></p><p>An address type (e.g. Shipping, Billing, etc.) may be provided to change the address type for a given address.</p><p></p><p>If an invalid address type is supplied, a status of 400 (Bad Request) will be returned.</p><p></p><p>If no existing, active customer or address with the provided Customer ID and Address ID respectively can be found, a status of 404 (Not Found) will be returned.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>AddressType</td><td>Usage type of the address (e.g. shipping, billing or tax)</td><td></td></tr><tr><td>AddressLine1</td><td>Address Line 1</td><td></td></tr><tr><td>AddressLine2</td><td>Addresss's supplemental information</td><td>null</td></tr><tr><td>City</td><td>City</td><td></td></tr><tr><td>State</td><td>State</td><td></td></tr><tr><td>PostalCode</td><td>PostalCode</td><td></td></tr><tr><td>Country</td><td>Country</td><td></td></tr></tbody></table></div></div></div></div></div>",
        "operationId": "Customers_UpdateCustomerAddress",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "addressId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the address",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "example": {
                "AddressLine1": "101 Update Street",
                "City": "Irvine",
                "PostalCode": "92602"
              },
              "allOf": [
                {
                  "$ref": "#/definitions/UpdateCustomerAddressRequestDTO"
                }
              ]
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "CustomerId": 1,
                "MerchantCustomerRefId": "1234-5678-9101",
                "FirstName": "John",
                "LastName": "Doe",
                "BillingAddresses": [
                  {
                    "AddressId": 1,
                    "AddressLine1": "101 Update Street",
                    "AddressLine2": "",
                    "City": "Irvine",
                    "State": "CA",
                    "PostalCode": "92602",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  }
                ]
              },
              "allOf": [
                {
                  "$ref": "#/definitions/CustomerDTO"
                }
              ]
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to find a customer with the provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Customers/{customerId}/address": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Add Customer Address",
        "description": "<div><p></p><p>Append an address for a given Customer ID.</p><p></p><p>An address type (e.g. Shipping, Billing, etc.) must be provided.</p><p></p><p>Upon success, the operation will return the updated Customer object.</p><p></p><p>If a duplicate address/address type combination is supplied, a status of 400 (Bad Request) will be returned.</p><p></p><p>If no existing customer with the provided Customer ID is found, a status of 404 (Not Found) will be returned.</p><p></p><p>An address type (e.g. Shipping, Billing, Tax) must be provided. A required set of Address details: AddressLine1, City and State or AddressLine1 and PostalCode or State and PostalCode.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>AddressType</td><td>Usage type of the address (e.g. shipping, billing or tax)</td></tr></tbody></table></div></div><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>AddressLine1</td><td>Address Line 1</td><td>null</td></tr><tr><td>AddressLine2</td><td>Addresss's supplemental information</td><td>null</td></tr><tr><td>City</td><td>City</td><td>null</td></tr><tr><td>State</td><td>State</td><td>null</td></tr><tr><td>PostalCode</td><td>PostalCode</td><td>null</td></tr><tr><td>Country</td><td>Country</td><td>null</td></tr></tbody></table></div></div></div></div></div>",
        "operationId": "Customers_AddCustomerAddress",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "example": {
                "AddressLine1": "100 Main Street",
                "AddressLine2": "",
                "City": "Santa Ana",
                "State": "CA",
                "PostalCode": "90000",
                "Country": "USA",
                "AddressType": "Billing"
              },
              "allOf": [
                {
                  "$ref": "#/definitions/CreateCustomerAddressRequestDTO"
                }
              ]
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "CustomerId": 1,
                "MerchantCustomerRefId": "1234-5678-9101",
                "FirstName": "John",
                "LastName": "Doe",
                "BillingAddresses": [
                  {
                    "AddressId": 0,
                    "AddressLine1": "100 Main Street",
                    "AddressLine2": "",
                    "City": "Santa Ana",
                    "State": "CA",
                    "PostalCode": "90000",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  }
                ]
              },
              "allOf": [
                {
                  "$ref": "#/definitions/CustomerDTO"
                }
              ]
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to find a customer with the provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Customers/{customerId}/invoices": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Search Invoices for Customer",
        "description": "<div><p></p><p>Retrieve invoices for a customer given their Customer ID.</p><p></p><p>Additionally, the following optional query string parameters can be applied to narrow the search results: merchantCustomerRefId, merchantInvoiceRefId, startDate, and endDate.</p><p></p><p>Given a start/end date, the invoices' billing date field will be compared to the provided date filter.</p><p></p><p>The Page query parameter represents the page number that could be used to navigate through the dataset. It starts from page 1, and subsequent pages are numbered accordingly. Default value is 1.</p><p>The PageSize query parameter determines the number of records to be displayed on a single page. It could be used to specify how many entries you want to retrieve per page. Default value is 100. Max value is ___.</p><p></p><p>Date filter query parameters should be entered in the form of 'YYYY-MM-dd' Upon finding matching results, the operation will return a status of 200 (OK).</p><p></p><p>If an invalid value is provided for the start or end date query parameter, a status code of 400 (Bad Request) will be returned instead.</p></div>",
        "operationId": "Customers_GetInvoices",
        "parameters": [
          {
            "type": "integer",
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "merchantCustomerRefId",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "merchantInvoiceRefId",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "startDate",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "endDate",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "page",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "example": [
                {
                  "InvoiceId": 1,
                  "CustomerId": null,
                  "MerchantInvoiceRefId": "1234-5678-9101",
                  "BinNumber": "411111",
                  "Last4Digit": "1111",
                  "InvoiceStatus": "Pending",
                  "Subtotal": 60.99,
                  "Tax": 5.4,
                  "Total": 66.39,
                  "BillingDate": "15-Oct-24",
                  "MerchantLegalName": null,
                  "MerchantCustomerRefId": null,
                  "CustomerFirstName": null,
                  "CustomerLastName": null
                },
                {
                  "InvoiceId": 2,
                  "CustomerId": null,
                  "MerchantInvoiceRefId": "1234-5678-9101",
                  "BinNumber": "411111",
                  "Last4Digit": "1111",
                  "InvoiceStatus": "Pending",
                  "Subtotal": 40.99,
                  "Tax": 3.6,
                  "Total": 43.59,
                  "BillingDate": "15-Nov-24",
                  "MerchantLegalName": null,
                  "MerchantCustomerRefId": null,
                  "CustomerFirstName": null,
                  "CustomerLastName": null
                }
              ],
              "items": {
                "$ref": "#/definitions/InvoiceDTO"
              }
            }
          },
          "204": {
            "description": ""
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to find a customer with the provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Customers/{customerId}/installments": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create Installment",
        "description": "<div><p></p><p>Create an installment for a customer (specified by Customer ID) with a Billing Frequency Type (Daily, Weekly, Biweekly, Monthly, Bimonthly, Quarterly, Semiannually, Yearly), Installment type (Interval, Amount), Installment value and Installment items. Payment method information (with billing address, billing first name, billing last name, payment method type (credit card, ach, google pay)) or an authorized payment method identifier or payment method identifier must be provided.</p><p></p><p>Optionally, a MerchantInstallmentRefId, TaxAddress, StartDate, TrailDuration and TrailDurationType (the same values as in Billing Frequency Type), DownPayment may be included.</p><p></p><p>Upon successful creation of the installment, a status code of 201 (Created) will be returned.</p><p></p><p>If the Customer ID provided does not exist, a status code of 404 (NotFound) will be returned.</p><p></p><p>If an installment cannot be created with the provided data, a status code of 400 (Bad Request) will be returned.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>BillingFrequencyType</td><td>How often the subscription should be attempted for billing</td></tr><tr><td>InstallmentItems</td><td>The installment's individual billing items</td></tr><tr><td>InstallmentType</td><td>How the installment period will be divided by amount or number of intervals</td></tr><tr><td>InstallmentValue</td><td>The number of cycles if installment type is Interval or payment amount per settlement cycle if installment type is Amount</td></tr></tbody></table></div></div><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>MerchantInstallmentRefId</td><td>Merchant's unique identifier for the installment</td><td>null</td></tr><tr><td>StartDate</td><td>Subscription's start date</td><td>Today</td></tr><tr><td>TrialDuration</td><td>The amount of trial duration time in the unit of TrialDurationType</td><td>0</td></tr><tr><td>TrialDurationType</td><td>The type of trial duration</td><td>Daily</td></tr><tr><td>TaxAddress</td><td>Address to be used for taxation purposes. Possible sets of Address details: AddressLine1, City and State or AddressLine1 and PostalCode or State and PostalCode</td><td>null</td></tr><tr><td>DownPayment</td><td>The payment a customer pays upfront</td><td>0</td></tr><tr><td>PaymentMethodAuthorizationId</td><td>Unique identifier for a previously pre-authorized payment method</td><td>null</td></tr><tr><td>PaymentMethod</td><td>The payment method information</td><td>null</td></tr><tr><td>PaymentMethodId</td><td>Unique identifier for the customer's payment information</td><td>null</td></tr></tbody></table></div></div></div></div></div>",
        "operationId": "Customers_CreateInstallment",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "example": {
                "MerchantInstallmentRefId": "1234-5678-9101",
                "BillingFrequencyType": "daily",
                "StartDate": "2024-11-15T00:00:00",
                "TrialDuration": 0,
                "TrialDurationType": "daily",
                "TaxAddress": {
                  "AddressId": null,
                  "AddressLine1": "101 Update Street",
                  "AddressLine2": "",
                  "City": "Irvine",
                  "State": "CA",
                  "PostalCode": "92602",
                  "PhoneNumber": null,
                  "Email": null,
                  "Country": "US"
                },
                "InstallmentItems": [
                  {
                    "Name": "Billing Plan 1",
                    "Value": 1000.00,
                    "ValueType": "Standard"
                  },
                  {
                    "Name": "Billing Plan 2",
                    "Value": 1200.00,
                    "ValueType": "Standard"
                  }
                ],
                "DownPayment": 200.00,
                "InstallmentType": "Amount",
                "InstallmentValue": 500.00,
                "PaymentMethod": {
                  "BillingAddress": {
                    "AddressId": null,
                    "AddressLine1": "100 Main Street",
                    "AddressLine2": "",
                    "City": "Irvine",
                    "State": "CA",
                    "PostalCode": "92602",
                    "PhoneNumber": null,
                    "Email": null,
                    "Country": "US"
                  },
                  "BillingFirstName": "John",
                  "BillingLastName": "Doe",
                  "CreditCard": {
                    "PaymentAccountNumber": "4111111111111111",
                    "ExpirationDate": "1025",
                    "SecurityCode": null
                  },
                  "Ach": null,
                  "GooglePay": null,
                  "MerchantPaymentMethodRefId": "payment-method-ref-id_hgays-213-4rf4"
                },
                "PaymentMethodAuthorizationId": null,
                "PaymentMethodId": null
              },
              "allOf": [
                {
                  "$ref": "#/definitions/CreateInstallmentRequestDTO"
                }
              ]
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "InstallmentId": 1,
                "CustomerId": 1,
                "MerchantInstallmentRefId": "1234-5678-9101",
                "BillingFrequencyType": "Monthly",
                "InstallmentType": "Amount",
                "InstallmentValue": 100.5,
                "DownPayment": 800.99,
                "InitialBillDate": "15-Nov-24",
                "NextBillDate": "15-Dec-24",
                "TaxAddress": {
                  "AddressId": 1,
                  "AddressLine1": "112 Main Street",
                  "AddressLine2": null,
                  "City": "Irvine",
                  "State": "CA",
                  "PostalCode": "92602",
                  "PhoneNumber": null,
                  "Email": null,
                  "Country": "US"
                },
                "PaymentMethodIds": [
                  1
                ],
                "InstallmentItems": [
                  {
                    "InstallmentItemId": 1,
                    "InstallmentId": 0,
                    "Name": "Installment item 1",
                    "Value": 1001.99,
                    "ValueType": "Standard"
                  }
                ],
                "BillingPlans": [
                  {
                    "InstallmentBillingPlanId": 1,
                    "InstallmentId": 1,
                    "Name": "Installment item 1",
                    "Value": 800.99,
                    "StartDate": "15-Nov-24",
                    "CyclesRemaining": 0,
                    "CycleCount": 1,
                    "ValueType": "Standart"
                  },
                  {
                    "InstallmentBillingPlanId": 2,
                    "InstallmentId": 1,
                    "Name": "Installment item 1",
                    "Value": 100.5,
                    "StartDate": "15-Nov-24",
                    "CyclesRemaining": 1,
                    "CycleCount": 1,
                    "ValueType": "Standart"
                  }
                ]
              },
              "allOf": [
                {
                  "$ref": "#/definitions/InstallmentDTO"
                }
              ]
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to find a customer with the provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "409": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "PaymentMethodAuthorizationId is being processed in another request."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Installments/{installmentId}": {
      "delete": {
        "tags": [
          "Installments"
        ],
        "summary": "Delete Installment",
        "description": "<div><p></p><p>Delete a installment (specified with Installment ID) with a status code of 200 (OK).</p><p></p><p>If the Installment ID cannot be associated with an active installment, a status code of 404 will be returned.</p></div>",
        "operationId": "Installments_DeleteInstallment",
        "parameters": [
          {
            "type": "integer",
            "name": "installmentId",
            "in": "path",
            "required": true,
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "messaage": "Unable to find a installment with the provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Installments/{installmentId}/payment": {
      "post": {
        "tags": [
          "Installments"
        ],
        "summary": "Make adhoc payment",
        "description": "<div><p></p><p>Create an adhoc payment for a given installment ID.</p><p></p><p>The given installment must have an active payment method associate or an error status 404 (NotFound) will be returned.</p><p></p><p>The invoice ID will be returned as well, allowing users to view the invoice generated.</p><div class=\"card card--table\"><div class=\"card-header\"><div class=\"card-title\" /></div><div class=\"card-body\"><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Required Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th>Description</th></tr></thead><tbody><tr><td>AdhocAmount</td><td>Dollar amount to be paid.</td></tr></tbody></table></div></div><div class=\"row\"><div class=\"col-12 col-md-7\"><h5>Optional Fields</h5></div></div><div class=\"row row--table\"><div class=\"col-12 table-responsive\"><table class=\"table\"><thead><tr><th class=\"name\">Name</th><th class=\"description\">Description</th><th>Default value</th></tr></thead><tbody><tr><td>MerchantInvoiceRefId</td><td>Merchant's unique identifier for the invoice to be created</td><td>null</td></tr></tbody></table></div></div></div></div></div>",
        "operationId": "Installments_MakeAdhocPayment",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "installmentId",
            "in": "path",
            "required": true,
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "example": {
                "MerchantInvoiceRefId": "6683df8b-1e88-4ef0-adb1-5222fabd3dfd",
                "AdhocAmount": 200.00
              },
              "allOf": [
                {
                  "$ref": "#/definitions/AdhocPaymentRequestDTO"
                }
              ]
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "InvoiceId": 1,
                "MerchantInvoiceRefId": "e094b8d6-6351-473e-8f55-4661fb56d4ac",
                "InvoiceStatus": "Paid",
                "InvoiceAttemptStatus": "Success",
                "Message": null,
                "Subtotal": 200.99,
                "TaxAmount": 18.1,
                "Total": 219.09
              },
              "allOf": [
                {
                  "$ref": "#/definitions/InstallmentInitialPaymentResponseDTO"
                }
              ]
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "Unable to perform the request action with provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "401": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "message": "You are not authorized to perform that action."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "example": {
                "messaage": "Unable to find a installment with the provided data."
              },
              "allOf": [
                {
                  "$ref": "#/definitions/StatusMessageResponse"
                }
              ]
            }
          }
        }
      }
    },
    "/api/Invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get Invoices",
        "description": "<div><p></p><p>Search for invoices matching the following possible optional criteria: Merchant Customer Ref ID, Merchant Invoice Ref ID, start date, and end date.</p><p></p><p>Given a start/end date, the invoices' billing date field will be compared to the provided date filter.</p><p></p><p>The Page query parameter represents the page number that could be used to navigate through the dataset. It starts from page 1, and subsequent pages are numbered accordingly. Default value is 1.</p><p>The PageSize query parameter determines the number of records to be displayed on a single page. It could be used to specify how many entries you want to retrieve per page. Default value is 100. Max value is ___.</p><p></p><p>Date filter query parameters should be entered in the form of 'YYYY-MM-dd' Upon finding matching results, the operation will return a status of 200 (OK).</p><p></p><p>If an invalid value is provided for the start or end date query parameter, a status code of 400 (Bad Request) will be returned instead.</p><p></p><p>If the provided Customer ID does not exist, a status code of 404 (Not Found) will be returned.</p></div>",
        "operationId": "Invoices_GetInvoices",
        "parameters": [
          {
            "type": "string",
            "name": "merchantCustomerRefId",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "merchantInvoiceRefId",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "startDate",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "endDate",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "page",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Merchant's authorization bearer token"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "example": [
                {
                  "InvoiceId": 1,
                  "CustomerId": null,
                  "MerchantInvoiceRefId": "1234-5678-9101",
                  "BinNumber": "411111",
                  "Last4Digit": "1111",
                  "InvoiceStatus": "Pending",
                  "Subtotal": 60.99,
                  "Tax": 5.4,
                  "Total": 66.39,
                  "BillingDate": "15-Oct-24",
                  "MerchantLegalName": null,
                  "MerchantCustomerRefId": null,
                  "CustomerFirstName": null,
                  "CustomerLastName": null
                },
                {
                  "InvoiceId": 2,
                  "CustomerId": null,
                  "MerchantInvoiceRefId": "1234-5678-9101",
                  "BinNumber": "411111",
                  "Last4Digit": "1111",
                  "InvoiceStatus": "Pending",
                  "Subtotal": 40.99,
                  "Tax": 3.6,
                  "Total": 43.59,
[...]
